@each $color, $types in $colors-background {
	@each $type, $value in $types {
		.#{$prefix}bg-#{$color}-#{$type} {
			background-color: #{$value} !important;
		}
		/*.#{$prefix}fill-#{$color}-#{$type} {
			fill: #{$value};
		}*/
	}
}

@each $color, $types in $colors-text {
	@each $type, $value in $types {
		.#{$prefix}text-#{$color}-#{$type} {
			color: #{$value} !important;
		}
	}
}
