
@charset "utf-8";


//prefix
$prefix: krds- !default;

//transition
$transition-base: .4s ease-in-out !default;
$transition-fade: opacity .4s linear !default;
$transition-collapse: max-height .4s ease !default;
$transition-collapse-width: width .4s ease !default;

//box shadow
$box-shadow-base: 2px 2px 2px 0px rgba(0, 0, 0, 0.15) !default;


//base
$base: (
  base-light-color-primary-5: #1f0f01ff,
  base-light-color-primary-10: #371b04ff,
  base-light-color-primary-20: #522907ff,
  base-light-color-primary-30: #7b3f0bff,
  base-light-color-primary-40: #b45b13ff,
  base-light-color-primary-50: #f58220ff,
  base-light-color-primary-60: #ffa050ff,
  base-light-color-primary-70: #ffc797ff,
  base-light-color-primary-80: #ffe2c9ff,
  base-light-color-primary-90: #fcf2e6ff,
  base-light-color-primary-95: #fff9f4ff,
  base-light-color-secondary-5: #041322ff,
  base-light-color-secondary-10: #032546ff,
  base-light-color-secondary-20: #043b72ff,
  base-light-color-secondary-30: #054a8eff,
  base-light-color-secondary-40: #1b68b5ff,
  base-light-color-secondary-50: #3485d7ff,
  base-light-color-secondary-60: #78b2ebff,
  base-light-color-secondary-70: #b3d6f9ff,
  base-light-color-secondary-80: #d6eaffff,
  base-light-color-secondary-90: #e5f2ffff,
  base-light-color-secondary-95: #f7fbffff,
  base-light-color-gray-0: #000000ff,
  base-light-color-gray-5: #19191aff,
  base-light-color-gray-10: #313233ff,
  base-light-color-gray-20: #474747ff,
  base-light-color-gray-30: #636566ff,
  base-light-color-gray-40: #959799ff,
  base-light-color-gray-50: #b5b9bcff,
  base-light-color-gray-60: #caced1ff,
  base-light-color-gray-70: #dfe2e5ff,
  base-light-color-gray-80: #e8ebedff,
  base-light-color-gray-90: #eff2f4ff,
  base-light-color-gray-95: #f7f9faff,
  base-light-color-gray-100: #ffffffff,
  base-light-color-stock-red: #e05c60ff,
  base-light-color-stock-red-dark: #c75255ff,
  base-light-color-stock-red-light: #f9e3e3ff,
  base-light-color-stock-red-bright: #fff8f8ff,
  base-light-color-stock-blue: #4789e5ff,
  base-light-color-stock-blue-dark: #3f7accff,
  base-light-color-stock-blue-light: #e5f2ffff,
  base-light-color-stock-blue-bright: #f7fbffff,
  base-light-color-stock-cancel: #983ff1ff,
  base-light-color-stock-cancel-dark: #642e99ff,
  base-light-color-stock-cancel-bright: #f9f2ffff,
  base-light-color-stock-correction: #54803fff,
  base-light-color-stock-correction-dark: #436632ff,
  base-light-color-stock-correction-light: #dde6d9ff,
  base-light-color-stock-correction-bright: #eef2ecff,
  base-light-color-stock-nochange: #313233ff,
  base-light-color-stock-nochange-light: #959799ff,
  base-light-color-stock-naver: #00c73cff,
  base-light-color-stock-naver-light: #e6f8efff,
  base-light-color-stock-cobaltblue: #5564edff,
  base-light-color-stock-cobaltblue-light: #f0f1fcff,
  base-light-color-stock-summary-dark: #48535bff,
  base-light-color-stock-summary-light: #5a646bff,
  base-light-color-interaction-error: #e52017ff,
  base-light-color-interaction-success: #4880eeff,
  base-light-color-chart-blue-dark: #043b72ff,
  base-light-color-chart-blue: #0086b8ff,
  base-light-color-chart-blue-light-1: #00a9ceff,
  base-light-color-chart-blue-light-2: #22b8d8ff,
  base-light-color-chart-blue-light-3: #3fc7e5ff,
  base-light-color-chart-blue-bright: #8dc8e8ff,
  base-light-color-chart-gray: #84888bff,
  base-light-color-chart-gray-light-1: #949799ff,
  base-light-color-chart-gray-light-2: #b5b9bcff,
  base-light-color-chart-gray-light3: #c6c9ccff,
  base-light-color-chart-gray-bright: #d6d8daff,
  base-dark-color-primary-5: #1f0f01ff,
  base-dark-color-primary-10: #371b04ff,
  base-dark-color-primary-20: #522907ff,
  base-dark-color-primary-30: #7b3f0bff,
  base-dark-color-primary-40: #b45b13ff,
  base-dark-color-primary-50: #f58220ff,
  base-dark-color-primary-60: #ffa050ff,
  base-dark-color-primary-70: #ffc797ff,
  base-dark-color-primary-80: #ffe2c9ff,
  base-dark-color-primary-90: #fcf2e6ff,
  base-dark-color-primary-95: #fff9f4ff,
  base-dark-color-secondary-5: #041322ff,
  base-dark-color-secondary-10: #032546ff,
  base-dark-color-secondary-20: #043b72ff,
  base-dark-color-secondary-30: #054a8eff,
  base-dark-color-secondary-40: #1b68b5ff,
  base-dark-color-secondary-50: #3485d7ff,
  base-dark-color-secondary-60: #78b2ebff,
  base-dark-color-secondary-70: #b3d6f9ff,
  base-dark-color-secondary-80: #d6eaffff,
  base-dark-color-secondary-90: #e5f2ffff,
  base-dark-color-secondary-95: #f7fbffff,
  base-dark-color-gray-0: #ffffffff,
  base-dark-color-gray-5: #dfe2e5ff,
  base-dark-color-gray-10: #b5b9bcff,
  base-dark-color-gray-20: #a4a6a8ff,
  base-dark-color-gray-30: #959799ff,
  base-dark-color-gray-40: #636566ff,
  base-dark-color-gray-50: #454545ff,
  base-dark-color-gray-60: #323233ff,
  base-dark-color-gray-70: #2d2d2eff,
  base-dark-color-gray-80: #282829ff,
  base-dark-color-gray-90: #202121ff,
  base-dark-color-gray-95: #19191aff,
  base-dark-color-gray-100: #0a0a0aff,
  base-dark-color-stock-red: #e05c60ff,
  base-dark-color-stock-red-dark: #c75255ff,
  base-dark-color-stock-red-light: #2e1718ff,
  base-dark-color-stock-red-bright: #211111ff,
  base-dark-color-stock-blue: #4789e5ff,
  base-dark-color-stock-blue-dark: #3f7accff,
  base-dark-color-stock-blue-light: #17222eff,
  base-dark-color-stock-blue-bright: #111921ff,
  base-dark-color-stock-cancel: #983ff1ff,
  base-dark-color-stock-cancel-dark: #642e99ff,
  base-dark-color-stock-cancel-bright: #191121ff,
  base-dark-color-stock-correction: #54803fff,
  base-dark-color-stock-correction-dark: #436632ff,
  base-dark-color-stock-correction-light: #222820ff,
  base-dark-color-stock-correction-bright: #192215ff,
  base-dark-color-stock-nochange: #b5b9bcff,
  base-dark-color-stock-nochange-light: #636566ff,
  base-dark-color-stock-naver: #00c73cff,
  base-dark-color-stock-naver-light: #02331cff,
  base-dark-color-stock-cobaltblue: #5564edff,
  base-dark-color-stock-cobaltblue-light: #151745ff,
  base-dark-color-stock-summary-dark: #48535bff,
  base-dark-color-stock-summary-light: #5a646bff,
  base-dark-color-interaction-error: #e52017ff,
  base-dark-color-interaction-success: #4880eeff,
  base-dark-color-chart-blue-dark: #043b72ff,
  base-dark-color-chart-blue: #0086b8ff,
  base-dark-color-chart-blue-light-1: #00a9ceff,
  base-dark-color-chart-blue-light-2: #22b8d8ff,
  base-dark-color-chart-blue-light-3: #3fc7e5ff,
  base-dark-color-chart-blue-bright: #8dc8e8ff,
  base-dark-color-chart-gray: #84888bff,
  base-dark-color-chart-gray-light-1: #949799ff,
  base-dark-color-chart-gray-light-2: #b5b9bcff,
  base-dark-color-chart-gray-light3: #c6c9ccff,
  base-dark-color-chart-gray-bright: #d6d8daff,
)!default;

//semantic
$semantic: (
  semantic-color-divider-black: #959799ff,
  semantic-color-divider-dark: #2d2d2eff,
  semantic-color-divider-basic: #202121ff,
  semantic-color-divider-light: #19191aff,
  semantic-color-text-primary: #f58220ff,
  semantic-color-text-blue: #4789e5ff,
  semantic-color-text-red: #e05c60ff,
  semantic-color-text-strong: #dfe2e5ff,
  semantic-color-text-basic: #b5b9bcff,
  semantic-color-text-sub: #959799ff,
  semantic-color-text-info: #636566ff,
  semantic-color-text-disable: #454545ff,
  semantic-color-text-white: #0a0a0aff,
  semantic-color-text-white-100: #ffffffff,
  semantic-color-text-white-80: #ffffffcc,
  semantic-color-text-white-60: #ffffff99,
  semantic-color-text-white-40: #ffffff66,
  semantic-color-text-white-20: #ffffff33,
  semantic-color-text-white-10: #ffffff1a,
  semantic-color-bg-black: #dfe2e5ff,
  semantic-color-bg-primary: #f58220ff,
  semantic-color-bg-box-line-light: #202121ff,
  semantic-color-bg-box-line-dark: #2d2d2eff,
  semantic-color-bg-box-bg: #202121ff,
  semantic-color-bg-bg: #19191aff,
  semantic-color-bg-white: #0a0a0aff,
  semantic-color-bg-white-80: #ffffffcc,
  semantic-color-bg-white-60: #ffffff99,
  semantic-color-bg-dim: #00000066,
  semantic-color-bg-summary-light: #5a646bff,
  semantic-color-bg-summary-dark: #48535bff,
  semantic-color-icon-black: #b5b9bcff,
  semantic-color-icon-gray-dark: #959799ff,
  semantic-color-icon-gray-light: #454545ff,
  semantic-color-icon-white: #0a0a0aff,
  semantic-color-icon-white-100: #ffffffff,
  semantic-color-icon-white-80: #ffffffcc,
  semantic-color-icon-white-40: #ffffff66,
  semantic-color-icon-primary: #f58220ff,
  semantic-color-controler-primary: #f58220ff,
  semantic-color-controler-selected: #b5b9bcff,
  semantic-color-controler-unselected: #454545ff,
  semantic-color-controler-disabled-bg: #202121ff,
  semantic-color-controler-disabled: #2d2d2eff,
  semantic-color-controler-white: #0a0a0aff,
  semantic-color-controler-white-100: #ffffffff,
  semantic-color-button-primary: #f58220ff,
  semantic-color-button-primary-pressed: #b45b13ff,
  semantic-color-button-secondary: #282829ff,
  semantic-color-button-secondary-pressed: #454545ff,
  semantic-color-button-tertiary: #0a0a0aff,
  semantic-color-button-tertiary-pressed: #19191aff,
  semantic-color-button-tertiary-line: #454545ff,
  semantic-color-button-tertiary-pressed-line: #b5b9bcff,
  semantic-color-button-stock-blue: #4789e5ff,
  semantic-color-button-stock-blue-pressed: #3f7accff,
  semantic-color-button-stock-red: #e05c60ff,
  semantic-color-button-stock-red-pressed: #c75255ff,
  semantic-color-button-stock-cancle: #983ff1ff,
  semantic-color-button-stock-cancel-pressed: #642e99ff,
  semantic-color-button-stock-correction: #54803fff,
  semantic-color-button-stock-correction-pressed: #436632ff,
  semantic-color-button-disable: #2d2d2eff,
  semantic-color-button-white-10: #ffffff1a,
  semantic-color-badge-primary: #f58220ff,
  semantic-color-badge-secondary: #636566ff,
  semantic-color-badge-error: #e52017ff,
  semantic-color-badge-stock-red: #e05c60ff,
  semantic-color-badge-stock-blue: #4789e5ff,
  semantic-color-badge-red: #e52017ff,
  semantic-color-badge-red-light: #2e1718ff,
  semantic-color-badge-yellow: #f58220ff,
  semantic-color-badge-yellow-light: #fcf2e6ff,
  semantic-color-badge-green: #54803fff,
  semantic-color-badge-green-light: #222820ff,
  semantic-color-badge-blue: #4789e5ff,
  semantic-color-badge-blue-light: #17222eff,
  semantic-color-badge-purple: #983ff1ff,
  semantic-color-badge-purple-light: #191121ff,
  semantic-color-badge-gray: #959799ff,
  semantic-color-badge-gray-light: #202121ff,
  semantic-color-badge-gray-bright: #19191aff,
  semantic-color-badge-black: #b5b9bcff,
)!default;

//fonttest
$fonttest: (
  fonttest-helvetica-neue-small: 12,
  fonttest-helvetica-neue-medium: 15,
  fonttest-arial-small: 13,
  fonttest-arial-medium: 16,
)!default;

//spacing
$spacing: (
  spacing-pc-0: 0,
  spacing-pc-1: 2,
  spacing-pc-2: 4,
  spacing-pc-3: 8,
  spacing-pc-4: 12,
  spacing-pc-5: 16,
  spacing-pc-6: 20,
  spacing-pc-7: 24,
  spacing-pc-8: 28,
  spacing-pc-9: 36,
  spacing-pc-10: 40,
  spacing-pc-11: 48,
  spacing-mobile-0: 0,
  spacing-mobile-1: 2,
  spacing-mobile-2: 4,
  spacing-mobile-3: 8,
  spacing-mobile-4: 10,
  spacing-mobile-5: 12,
  spacing-mobile-6: 16,
  spacing-mobile-7: 20,
  spacing-mobile-8: 24,
  spacing-mobile-9: 28,
  spacing-mobile-10: 36,
  spacing-mobile-11: 40,
)!default;

//colors
$colors: (
  colors-white: #fff,
  colors-black: #000,
  colors-gray: #8E8E8E,
  colors-primary: #246BEB,
  colors-secondary: #003675,
  colors-point: #E71825,
  colors-danger: #EB003B,
  colors-warning: #FFB724,
  colors-success: #008A1E,
  colors-information: #2768FF,
)!default;

//primaryColors
$primaryColors: (
  primaryColors-5: #EFF5FF,
  primaryColors-10: #D3E1FB,
  primaryColors-20: #A7C4F7,
  primaryColors-30: #7CA6F3,
  primaryColors-40: #5089EF,
  primaryColors-60: #1D56BC,
  primaryColors-70: #16408D,
  primaryColors-80: #0E2B5E,
  primaryColors-90: #07152F,
)!default;

//secondaryColors
$secondaryColors: (
  secondaryColors-5: #EDF1F5,
  secondaryColors-10: #CDD7E4,
  secondaryColors-20: #B4C4D6,
  secondaryColors-30: #99B0CB,
  secondaryColors-40: #2A5C96,
  secondaryColors-60: #002B5E,
  secondaryColors-70: #002046,
  secondaryColors-80: #00162F,
  secondaryColors-90: #000B17,
)!default;

//pointColors
$pointColors: (
  pointColors-5: #FDF2F3,
  pointColors-10: #FAD1D3,
  pointColors-20: #F5A3A8,
  pointColors-30: #F1747C,
  pointColors-40: #EC4651,
  pointColors-60: #B9131E,
  pointColors-70: #8B0E16,
  pointColors-80: #5C0A0F,
  pointColors-90: #2E0507,
)!default;

//grayColors
$grayColors: (
  grayColors-5: #F8F8F8,
  grayColors-10: #F0F0F0,
  grayColors-20: #E4E4E4,
  grayColors-30: #D8D8D8,
  grayColors-40: #C6C6C6,
  grayColors-50: #8E8E8E,
  grayColors-60: #717171,
  grayColors-70: #555555,
  grayColors-80: #2D2D2D,
  grayColors-90: #1D1D1D,
)!default;

//breakpoints
$breakpoints: (
  breakpoints-sm: 600px,
  breakpoints-md: 1024px,
  breakpoints-lg: 1920px,
)!default;

//spacers
$spacers: (
  spacers-0: 0,
  spacers-default: .1rem,
  spacers-default2: .2rem,
  spacers-full: 100%,
)!default;

//font-size
$font-size: (
  font-size-sizes-display-sm: 4rem,
  font-size-sizes-display-md: 5rem,
  font-size-sizes-display-lg: 6.6rem,
  font-size-sizes-heading-sm: 3.2rem,
  font-size-sizes-heading-md: 4rem,
  font-size-sizes-heading-lg: 5rem,
  font-size-sizes-title-xsm: 1.5rem,
  font-size-sizes-title-sm: 1.7rem,
  font-size-sizes-title-md: 1.9rem,
  font-size-sizes-title-lg: 2.1rem,
  font-size-sizes-title-xlg: 2.5rem,
  font-size-sizes-title-xxlg: 3.2rem,
  font-size-sizes-body-sm: 1.5rem,
  font-size-sizes-body-md: 1.7rem,
  font-size-sizes-body-lg: 1.9rem,
  font-size-sizes-link-sm: 1.5rem,
  font-size-sizes-link-md: 1.7rem,
  font-size-sizes-link-lg: 1.9rem,
  font-size-sizes-detail-sm: 1.3rem,
  font-size-sizes-detail-md: 1.5rem,
  font-size-sizes-detail-lg: 1.7rem,
  font-size-sizes-label-xsm: 1.3rem,
  font-size-sizes-label-sm: 1.5rem,
  font-size-sizes-label-md: 1.7rem,
  font-size-sizes-label-lg: 1.9rem,
)!default;

//fws
$fws: (
  fws-light: 300,
  fws-normal: 400,
  fws-medium: 500,
  fws-bold: 700,
  fws-bolder: 800,
)!default;

//border-radius
$border-radius: (
  border-radius-1: .1rem,
  border-radius-2: .2rem,
  border-radius-4: .4rem,
  border-radius-6: .6rem,
  border-radius-8: .8rem,
  border-radius-10: 1rem,
  border-radius-12: 1.2rem,
  border-radius-full: 100%,
)!default;