@charset "utf-8";

@font-face {
  font-family: "Pretendard GOV";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/PretendardGOV-Regular.subset.woff") format("woff");
}
@font-face {
  font-family: "Pretendard GOV";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/PretendardGOV-Medium.subset.woff") format("woff");
}
@font-face {
  font-family: "Pretendard GOV";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/PretendardGOV-Bold.subset.woff") format("woff");
}
:root {
  /*base*/
  --pre-light-color-primary-5: #1f0f01;
  --pre-light-color-primary-10: #371b04;
  --pre-light-color-primary-20: #522907;
  --pre-light-color-primary-30: #7b3f0b;
  --pre-light-color-primary-40: #b45b13;
  --pre-light-color-primary-50: #f58220;
  --pre-light-color-primary-60: #ffa050;
  --pre-light-color-primary-70: #ffc797;
  --pre-light-color-primary-80: #ffe2c9;
  --pre-light-color-primary-90: #fcf2e6;
  --pre-light-color-primary-95: #fff9f4;
  --pre-light-color-secondary-5: #041322;
  --pre-light-color-secondary-10: #032546;
  --pre-light-color-secondary-20: #043b72;
  --pre-light-color-secondary-30: #054a8e;
  --pre-light-color-secondary-40: #1b68b5;
  --pre-light-color-secondary-50: #3485d7;
  --pre-light-color-secondary-60: #78b2eb;
  --pre-light-color-secondary-70: #b3d6f9;
  --pre-light-color-secondary-80: #d6eaff;
  --pre-light-color-secondary-90: #e5f2ff;
  --pre-light-color-secondary-95: #f7fbff;
  --pre-light-color-gray-0: black;
  --pre-light-color-gray-5: #19191a;
  --pre-light-color-gray-10: #313233;
  --pre-light-color-gray-20: #474747;
  --pre-light-color-gray-30: #636566;
  --pre-light-color-gray-40: #959799;
  --pre-light-color-gray-50: #b5b9bc;
  --pre-light-color-gray-60: #caced1;
  --pre-light-color-gray-70: #dfe2e5;
  --pre-light-color-gray-80: #e8ebed;
  --pre-light-color-gray-90: #eff2f4;
  --pre-light-color-gray-95: #f7f9fa;
  --pre-light-color-gray-100: white;
  --pre-light-color-stock-red: #e05c60;
  --pre-light-color-stock-red-dark: #c75255;
  --pre-light-color-stock-red-light: #f9e3e3;
  --pre-light-color-stock-red-bright: #fff8f8;
  --pre-light-color-stock-blue: #4789e5;
  --pre-light-color-stock-blue-dark: #3f7acc;
  --pre-light-color-stock-blue-light: #e5f2ff;
  --pre-light-color-stock-blue-bright: #f7fbff;
  --pre-light-color-stock-cancel: #983ff1;
  --pre-light-color-stock-cancel-dark: #642e99;
  --pre-light-color-stock-cancel-bright: #f9f2ff;
  --pre-light-color-stock-correction: #54803f;
  --pre-light-color-stock-correction-dark: #436632;
  --pre-light-color-stock-correction-light: #dde6d9;
  --pre-light-color-stock-correction-bright: #eef2ec;
  --pre-light-color-stock-nochange: #313233;
  --pre-light-color-stock-nochange-light: #959799;
  --pre-light-color-stock-naver: #00c73c;
  --pre-light-color-stock-naver-light: #e6f8ef;
  --pre-light-color-stock-cobaltblue: #5564ed;
  --pre-light-color-stock-cobaltblue-light: #f0f1fc;
  --pre-light-color-stock-summary-dark: #48535b;
  --pre-light-color-stock-summary-light: #5a646b;
  --pre-light-color-interaction-error: #e52017;
  --pre-light-color-interaction-success: #4880ee;
  --pre-light-color-chart-blue-dark: #043b72;
  --pre-light-color-chart-blue: #0086b8;
  --pre-light-color-chart-blue-light-1: #00a9ce;
  --pre-light-color-chart-blue-light-2: #22b8d8;
  --pre-light-color-chart-blue-light-3: #3fc7e5;
  --pre-light-color-chart-blue-bright: #8dc8e8;
  --pre-light-color-chart-gray: #84888b;
  --pre-light-color-chart-gray-light-1: #949799;
  --pre-light-color-chart-gray-light-2: #b5b9bc;
  --pre-light-color-chart-gray-light3: #c6c9cc;
  --pre-light-color-chart-gray-bright: #d6d8da;
  --pre-dark-color-primary-5: #1f0f01;
  --pre-dark-color-primary-10: #371b04;
  --pre-dark-color-primary-20: #522907;
  --pre-dark-color-primary-30: #7b3f0b;
  --pre-dark-color-primary-40: #b45b13;
  --pre-dark-color-primary-50: #f58220;
  --pre-dark-color-primary-60: #ffa050;
  --pre-dark-color-primary-70: #ffc797;
  --pre-dark-color-primary-80: #ffe2c9;
  --pre-dark-color-primary-90: #fcf2e6;
  --pre-dark-color-primary-95: #fff9f4;
  --pre-dark-color-secondary-5: #041322;
  --pre-dark-color-secondary-10: #032546;
  --pre-dark-color-secondary-20: #043b72;
  --pre-dark-color-secondary-30: #054a8e;
  --pre-dark-color-secondary-40: #1b68b5;
  --pre-dark-color-secondary-50: #3485d7;
  --pre-dark-color-secondary-60: #78b2eb;
  --pre-dark-color-secondary-70: #b3d6f9;
  --pre-dark-color-secondary-80: #d6eaff;
  --pre-dark-color-secondary-90: #e5f2ff;
  --pre-dark-color-secondary-95: #f7fbff;
  --pre-dark-color-gray-0: white;
  --pre-dark-color-gray-5: #dfe2e5;
  --pre-dark-color-gray-10: #b5b9bc;
  --pre-dark-color-gray-20: #a4a6a8;
  --pre-dark-color-gray-30: #959799;
  --pre-dark-color-gray-40: #636566;
  --pre-dark-color-gray-50: #454545;
  --pre-dark-color-gray-60: #323233;
  --pre-dark-color-gray-70: #2d2d2e;
  --pre-dark-color-gray-80: #282829;
  --pre-dark-color-gray-90: #202121;
  --pre-dark-color-gray-95: #19191a;
  --pre-dark-color-gray-100: #0a0a0a;
  --pre-dark-color-stock-red: #e05c60;
  --pre-dark-color-stock-red-dark: #c75255;
  --pre-dark-color-stock-red-light: #2e1718;
  --pre-dark-color-stock-red-bright: #211111;
  --pre-dark-color-stock-blue: #4789e5;
  --pre-dark-color-stock-blue-dark: #3f7acc;
  --pre-dark-color-stock-blue-light: #17222e;
  --pre-dark-color-stock-blue-bright: #111921;
  --pre-dark-color-stock-cancel: #983ff1;
  --pre-dark-color-stock-cancel-dark: #642e99;
  --pre-dark-color-stock-cancel-bright: #191121;
  --pre-dark-color-stock-correction: #54803f;
  --pre-dark-color-stock-correction-dark: #436632;
  --pre-dark-color-stock-correction-light: #222820;
  --pre-dark-color-stock-correction-bright: #192215;
  --pre-dark-color-stock-nochange: #b5b9bc;
  --pre-dark-color-stock-nochange-light: #636566;
  --pre-dark-color-stock-naver: #00c73c;
  --pre-dark-color-stock-naver-light: #02331c;
  --pre-dark-color-stock-cobaltblue: #5564ed;
  --pre-dark-color-stock-cobaltblue-light: #151745;
  --pre-dark-color-stock-summary-dark: #48535b;
  --pre-dark-color-stock-summary-light: #5a646b;
  --pre-dark-color-interaction-error: #e52017;
  --pre-dark-color-interaction-success: #4880ee;
  --pre-dark-color-chart-blue-dark: #043b72;
  --pre-dark-color-chart-blue: #0086b8;
  --pre-dark-color-chart-blue-light-1: #00a9ce;
  --pre-dark-color-chart-blue-light-2: #22b8d8;
  --pre-dark-color-chart-blue-light-3: #3fc7e5;
  --pre-dark-color-chart-blue-bright: #8dc8e8;
  --pre-dark-color-chart-gray: #84888b;
  --pre-dark-color-chart-gray-light-1: #949799;
  --pre-dark-color-chart-gray-light-2: #b5b9bc;
  --pre-dark-color-chart-gray-light3: #c6c9cc;
  --pre-dark-color-chart-gray-bright: #d6d8da;
  /*semantic*/
  --pre-color-divider-black: #959799;
  --pre-color-divider-dark: #2d2d2e;
  --pre-color-divider-basic: #202121;
  --pre-color-divider-light: #19191a;
  --pre-color-text-primary: #f58220;
  --pre-color-text-blue: #4789e5;
  --pre-color-text-red: #e05c60;
  --pre-color-text-strong: #dfe2e5;
  --pre-color-text-basic: #b5b9bc;
  --pre-color-text-sub: #959799;
  --pre-color-text-info: #636566;
  --pre-color-text-disable: #454545;
  --pre-color-text-white: #0a0a0a;
  --pre-color-text-white-100: white;
  --pre-color-text-white-80: rgba(255, 255, 255, 0.8);
  --pre-color-text-white-60: rgba(255, 255, 255, 0.6);
  --pre-color-text-white-40: rgba(255, 255, 255, 0.4);
  --pre-color-text-white-20: rgba(255, 255, 255, 0.2);
  --pre-color-text-white-10: rgba(255, 255, 255, 0.1019607843);
  --pre-color-bg-black: #dfe2e5;
  --pre-color-bg-primary: #f58220;
  --pre-color-bg-box-line-light: #202121;
  --pre-color-bg-box-line-dark: #2d2d2e;
  --pre-color-bg-box-bg: #202121;
  --pre-color-bg-bg: #19191a;
  --pre-color-bg-white: #0a0a0a;
  --pre-color-bg-white-80: rgba(255, 255, 255, 0.8);
  --pre-color-bg-white-60: rgba(255, 255, 255, 0.6);
  --pre-color-bg-dim: rgba(0, 0, 0, 0.4);
  --pre-color-bg-summary-light: #5a646b;
  --pre-color-bg-summary-dark: #48535b;
  --pre-color-icon-black: #b5b9bc;
  --pre-color-icon-gray-dark: #959799;
  --pre-color-icon-gray-light: #454545;
  --pre-color-icon-white: #0a0a0a;
  --pre-color-icon-white-100: white;
  --pre-color-icon-white-80: rgba(255, 255, 255, 0.8);
  --pre-color-icon-white-40: rgba(255, 255, 255, 0.4);
  --pre-color-icon-primary: #f58220;
  --pre-color-controler-primary: #f58220;
  --pre-color-controler-selected: #b5b9bc;
  --pre-color-controler-unselected: #454545;
  --pre-color-controler-disabled-bg: #202121;
  --pre-color-controler-disabled: #2d2d2e;
  --pre-color-controler-white: #0a0a0a;
  --pre-color-controler-white-100: white;
  --pre-color-button-primary: #f58220;
  --pre-color-button-primary-pressed: #b45b13;
  --pre-color-button-secondary: #282829;
  --pre-color-button-secondary-pressed: #454545;
  --pre-color-button-tertiary: #0a0a0a;
  --pre-color-button-tertiary-pressed: #19191a;
  --pre-color-button-tertiary-line: #454545;
  --pre-color-button-tertiary-pressed-line: #b5b9bc;
  --pre-color-button-stock-blue: #4789e5;
  --pre-color-button-stock-blue-pressed: #3f7acc;
  --pre-color-button-stock-red: #e05c60;
  --pre-color-button-stock-red-pressed: #c75255;
  --pre-color-button-stock-cancle: #983ff1;
  --pre-color-button-stock-cancel-pressed: #642e99;
  --pre-color-button-stock-correction: #54803f;
  --pre-color-button-stock-correction-pressed: #436632;
  --pre-color-button-disable: #2d2d2e;
  --pre-color-button-white-10: rgba(255, 255, 255, 0.1019607843);
  --pre-color-badge-primary: #f58220;
  --pre-color-badge-secondary: #636566;
  --pre-color-badge-error: #e52017;
  --pre-color-badge-stock-red: #e05c60;
  --pre-color-badge-stock-blue: #4789e5;
  --pre-color-badge-red: #e52017;
  --pre-color-badge-red-light: #2e1718;
  --pre-color-badge-yellow: #f58220;
  --pre-color-badge-yellow-light: #fcf2e6;
  --pre-color-badge-green: #54803f;
  --pre-color-badge-green-light: #222820;
  --pre-color-badge-blue: #4789e5;
  --pre-color-badge-blue-light: #17222e;
  --pre-color-badge-purple: #983ff1;
  --pre-color-badge-purple-light: #191121;
  --pre-color-badge-gray: #959799;
  --pre-color-badge-gray-light: #202121;
  --pre-color-badge-gray-bright: #19191a;
  --pre-color-badge-black: #b5b9bc;
  /*font-test*/
  --pre-helvetica-neue-small: 12;
  --pre-helvetica-neue-medium: 15;
  --pre-arial-small: 13;
  --pre-arial-medium: 16;
  /*spacing*/
  --pre-pc-0: 0;
  --pre-pc-1: 2;
  --pre-pc-2: 4;
  --pre-pc-3: 8;
  --pre-pc-4: 12;
  --pre-pc-5: 16;
  --pre-pc-6: 20;
  --pre-pc-7: 24;
  --pre-pc-8: 28;
  --pre-pc-9: 36;
  --pre-pc-10: 40;
  --pre-pc-11: 48;
  --pre-mobile-0: 0;
  --pre-mobile-1: 2;
  --pre-mobile-2: 4;
  --pre-mobile-3: 8;
  --pre-mobile-4: 10;
  --pre-mobile-5: 12;
  --pre-mobile-6: 16;
  --pre-mobile-7: 20;
  --pre-mobile-8: 24;
  --pre-mobile-9: 28;
  --pre-mobile-10: 36;
  --pre-mobile-11: 40;
  /*typography*/
  --pre-title-xlarge-bold-fontSize: 18;
  --pre-title-xlarge-bold-textDecoration: none;
  --pre-title-xlarge-bold-fontFamily: Sandoll GothicNeo1;
  --pre-title-xlarge-bold-fontWeight: 400;
  --pre-title-xlarge-bold-fontStyle: normal;
  --pre-title-xlarge-bold-fontStretch: normal;
  --pre-title-xlarge-bold-letterSpacing: 0;
  --pre-title-xlarge-bold-lineHeight: 28;
  --pre-title-xlarge-bold-paragraphIndent: 0;
  --pre-title-xlarge-bold-paragraphSpacing: 0;
  --pre-title-xlarge-bold-textCase: none;
  --pre-title-xlarge-fontSize: 18;
  --pre-title-xlarge-textDecoration: none;
  --pre-title-xlarge-fontFamily: Sandoll GothicNeo1;
  --pre-title-xlarge-fontWeight: 400;
  --pre-title-xlarge-fontStyle: normal;
  --pre-title-xlarge-fontStretch: normal;
  --pre-title-xlarge-letterSpacing: 0;
  --pre-title-xlarge-lineHeight: 28;
  --pre-title-xlarge-paragraphIndent: 0;
  --pre-title-xlarge-paragraphSpacing: 0;
  --pre-title-xlarge-textCase: none;
  --pre-title-xlarge-light-fontSize: 18;
  --pre-title-xlarge-light-textDecoration: none;
  --pre-title-xlarge-light-fontFamily: Sandoll GothicNeo1;
  --pre-title-xlarge-light-fontWeight: 400;
  --pre-title-xlarge-light-fontStyle: normal;
  --pre-title-xlarge-light-fontStretch: normal;
  --pre-title-xlarge-light-letterSpacing: 0;
  --pre-title-xlarge-light-lineHeight: 28;
  --pre-title-xlarge-light-paragraphIndent: 0;
  --pre-title-xlarge-light-paragraphSpacing: 0;
  --pre-title-xlarge-light-textCase: none;
  --pre-title-large-bold-fontSize: 16;
  --pre-title-large-bold-textDecoration: none;
  --pre-title-large-bold-fontFamily: Sandoll GothicNeo1;
  --pre-title-large-bold-fontWeight: 400;
  --pre-title-large-bold-fontStyle: normal;
  --pre-title-large-bold-fontStretch: normal;
  --pre-title-large-bold-letterSpacing: 0;
  --pre-title-large-bold-lineHeight: 24;
  --pre-title-large-bold-paragraphIndent: 0;
  --pre-title-large-bold-paragraphSpacing: 0;
  --pre-title-large-bold-textCase: none;
  --pre-title-large-fontSize: 16;
  --pre-title-large-textDecoration: none;
  --pre-title-large-fontFamily: Sandoll GothicNeo1;
  --pre-title-large-fontWeight: 400;
  --pre-title-large-fontStyle: normal;
  --pre-title-large-fontStretch: normal;
  --pre-title-large-letterSpacing: 0;
  --pre-title-large-lineHeight: 24;
  --pre-title-large-paragraphIndent: 0;
  --pre-title-large-paragraphSpacing: 0;
  --pre-title-large-textCase: none;
  --pre-title-large-light-fontSize: 16;
  --pre-title-large-light-textDecoration: none;
  --pre-title-large-light-fontFamily: Sandoll GothicNeo1;
  --pre-title-large-light-fontWeight: 400;
  --pre-title-large-light-fontStyle: normal;
  --pre-title-large-light-fontStretch: normal;
  --pre-title-large-light-letterSpacing: 0;
  --pre-title-large-light-lineHeight: 24;
  --pre-title-large-light-paragraphIndent: 0;
  --pre-title-large-light-paragraphSpacing: 0;
  --pre-title-large-light-textCase: none;
  --pre-title-medium-bold-fontSize: 14;
  --pre-title-medium-bold-textDecoration: none;
  --pre-title-medium-bold-fontFamily: Sandoll GothicNeo1;
  --pre-title-medium-bold-fontWeight: 400;
  --pre-title-medium-bold-fontStyle: normal;
  --pre-title-medium-bold-fontStretch: normal;
  --pre-title-medium-bold-letterSpacing: 0;
  --pre-title-medium-bold-lineHeight: 20;
  --pre-title-medium-bold-paragraphIndent: 0;
  --pre-title-medium-bold-paragraphSpacing: 0;
  --pre-title-medium-bold-textCase: none;
  --pre-title-medium-fontSize: 14;
  --pre-title-medium-textDecoration: none;
  --pre-title-medium-fontFamily: Sandoll GothicNeo1;
  --pre-title-medium-fontWeight: 400;
  --pre-title-medium-fontStyle: normal;
  --pre-title-medium-fontStretch: normal;
  --pre-title-medium-letterSpacing: 0;
  --pre-title-medium-lineHeight: 20;
  --pre-title-medium-paragraphIndent: 0;
  --pre-title-medium-paragraphSpacing: 0;
  --pre-title-medium-textCase: none;
  --pre-title-medium-light-fontSize: 14;
  --pre-title-medium-light-textDecoration: none;
  --pre-title-medium-light-fontFamily: Sandoll GothicNeo1;
  --pre-title-medium-light-fontWeight: 400;
  --pre-title-medium-light-fontStyle: normal;
  --pre-title-medium-light-fontStretch: normal;
  --pre-title-medium-light-letterSpacing: 0;
  --pre-title-medium-light-lineHeight: 20;
  --pre-title-medium-light-paragraphIndent: 0;
  --pre-title-medium-light-paragraphSpacing: 0;
  --pre-title-medium-light-textCase: none;
  --pre-body-xlarge-bold-fontSize: 18;
  --pre-body-xlarge-bold-textDecoration: none;
  --pre-body-xlarge-bold-fontFamily: Sandoll GothicNeo1;
  --pre-body-xlarge-bold-fontWeight: 400;
  --pre-body-xlarge-bold-fontStyle: normal;
  --pre-body-xlarge-bold-fontStretch: normal;
  --pre-body-xlarge-bold-letterSpacing: 0;
  --pre-body-xlarge-bold-lineHeight: 28;
  --pre-body-xlarge-bold-paragraphIndent: 0;
  --pre-body-xlarge-bold-paragraphSpacing: 0;
  --pre-body-xlarge-bold-textCase: none;
  --pre-body-xlarge-fontSize: 18;
  --pre-body-xlarge-textDecoration: none;
  --pre-body-xlarge-fontFamily: Sandoll GothicNeo1;
  --pre-body-xlarge-fontWeight: 400;
  --pre-body-xlarge-fontStyle: normal;
  --pre-body-xlarge-fontStretch: normal;
  --pre-body-xlarge-letterSpacing: 0;
  --pre-body-xlarge-lineHeight: 28;
  --pre-body-xlarge-paragraphIndent: 0;
  --pre-body-xlarge-paragraphSpacing: 0;
  --pre-body-xlarge-textCase: none;
  --pre-body-xlarge-light-fontSize: 18;
  --pre-body-xlarge-light-textDecoration: none;
  --pre-body-xlarge-light-fontFamily: Sandoll GothicNeo1;
  --pre-body-xlarge-light-fontWeight: 400;
  --pre-body-xlarge-light-fontStyle: normal;
  --pre-body-xlarge-light-fontStretch: normal;
  --pre-body-xlarge-light-letterSpacing: 0;
  --pre-body-xlarge-light-lineHeight: 28;
  --pre-body-xlarge-light-paragraphIndent: 0;
  --pre-body-xlarge-light-paragraphSpacing: 0;
  --pre-body-xlarge-light-textCase: none;
  --pre-body-large-bold-fontSize: 16;
  --pre-body-large-bold-textDecoration: none;
  --pre-body-large-bold-fontFamily: Sandoll GothicNeo1;
  --pre-body-large-bold-fontWeight: 400;
  --pre-body-large-bold-fontStyle: normal;
  --pre-body-large-bold-fontStretch: normal;
  --pre-body-large-bold-letterSpacing: 0;
  --pre-body-large-bold-lineHeight: 24;
  --pre-body-large-bold-paragraphIndent: 0;
  --pre-body-large-bold-paragraphSpacing: 0;
  --pre-body-large-bold-textCase: none;
  --pre-body-large-fontSize: 16;
  --pre-body-large-textDecoration: none;
  --pre-body-large-fontFamily: Sandoll GothicNeo1;
  --pre-body-large-fontWeight: 400;
  --pre-body-large-fontStyle: normal;
  --pre-body-large-fontStretch: normal;
  --pre-body-large-letterSpacing: 0;
  --pre-body-large-lineHeight: 24;
  --pre-body-large-paragraphIndent: 0;
  --pre-body-large-paragraphSpacing: 0;
  --pre-body-large-textCase: none;
  --pre-body-large-light-fontSize: 16;
  --pre-body-large-light-textDecoration: none;
  --pre-body-large-light-fontFamily: Sandoll GothicNeo1;
  --pre-body-large-light-fontWeight: 400;
  --pre-body-large-light-fontStyle: normal;
  --pre-body-large-light-fontStretch: normal;
  --pre-body-large-light-letterSpacing: 0;
  --pre-body-large-light-lineHeight: 24;
  --pre-body-large-light-paragraphIndent: 0;
  --pre-body-large-light-paragraphSpacing: 0;
  --pre-body-large-light-textCase: none;
  --pre-body-medium-bold-fontSize: 14;
  --pre-body-medium-bold-textDecoration: none;
  --pre-body-medium-bold-fontFamily: Sandoll GothicNeo1;
  --pre-body-medium-bold-fontWeight: 400;
  --pre-body-medium-bold-fontStyle: normal;
  --pre-body-medium-bold-fontStretch: normal;
  --pre-body-medium-bold-letterSpacing: 0;
  --pre-body-medium-bold-lineHeight: 20;
  --pre-body-medium-bold-paragraphIndent: 0;
  --pre-body-medium-bold-paragraphSpacing: 0;
  --pre-body-medium-bold-textCase: none;
  --pre-body-medium-fontSize: 14;
  --pre-body-medium-textDecoration: none;
  --pre-body-medium-fontFamily: Sandoll GothicNeo1;
  --pre-body-medium-fontWeight: 400;
  --pre-body-medium-fontStyle: normal;
  --pre-body-medium-fontStretch: normal;
  --pre-body-medium-letterSpacing: 0;
  --pre-body-medium-lineHeight: 20;
  --pre-body-medium-paragraphIndent: 0;
  --pre-body-medium-paragraphSpacing: 0;
  --pre-body-medium-textCase: none;
  --pre-body-medium-light-fontSize: 14;
  --pre-body-medium-light-textDecoration: none;
  --pre-body-medium-light-fontFamily: Sandoll GothicNeo1;
  --pre-body-medium-light-fontWeight: 400;
  --pre-body-medium-light-fontStyle: normal;
  --pre-body-medium-light-fontStretch: normal;
  --pre-body-medium-light-letterSpacing: 0;
  --pre-body-medium-light-lineHeight: 20;
  --pre-body-medium-light-paragraphIndent: 0;
  --pre-body-medium-light-paragraphSpacing: 0;
  --pre-body-medium-light-textCase: none;
  --pre-body-small-bold-fontSize: 13;
  --pre-body-small-bold-textDecoration: none;
  --pre-body-small-bold-fontFamily: Sandoll GothicNeo1;
  --pre-body-small-bold-fontWeight: 400;
  --pre-body-small-bold-fontStyle: normal;
  --pre-body-small-bold-fontStretch: normal;
  --pre-body-small-bold-letterSpacing: 0;
  --pre-body-small-bold-lineHeight: 18;
  --pre-body-small-bold-paragraphIndent: 0;
  --pre-body-small-bold-paragraphSpacing: 0;
  --pre-body-small-bold-textCase: none;
  --pre-body-small-fontSize: 13;
  --pre-body-small-textDecoration: none;
  --pre-body-small-fontFamily: Sandoll GothicNeo1;
  --pre-body-small-fontWeight: 400;
  --pre-body-small-fontStyle: normal;
  --pre-body-small-fontStretch: normal;
  --pre-body-small-letterSpacing: 0;
  --pre-body-small-lineHeight: 18;
  --pre-body-small-paragraphIndent: 0;
  --pre-body-small-paragraphSpacing: 0;
  --pre-body-small-textCase: none;
  --pre-body-small-light-fontSize: 13;
  --pre-body-small-light-textDecoration: none;
  --pre-body-small-light-fontFamily: Sandoll GothicNeo1;
  --pre-body-small-light-fontWeight: 400;
  --pre-body-small-light-fontStyle: normal;
  --pre-body-small-light-fontStretch: normal;
  --pre-body-small-light-letterSpacing: 0;
  --pre-body-small-light-lineHeight: 18;
  --pre-body-small-light-paragraphIndent: 0;
  --pre-body-small-light-paragraphSpacing: 0;
  --pre-body-small-light-textCase: none;
  --pre-body-xsmall-bold-fontSize: 12;
  --pre-body-xsmall-bold-textDecoration: none;
  --pre-body-xsmall-bold-fontFamily: Sandoll GothicNeo1;
  --pre-body-xsmall-bold-fontWeight: 400;
  --pre-body-xsmall-bold-fontStyle: normal;
  --pre-body-xsmall-bold-fontStretch: normal;
  --pre-body-xsmall-bold-letterSpacing: 0;
  --pre-body-xsmall-bold-lineHeight: 16;
  --pre-body-xsmall-bold-paragraphIndent: 0;
  --pre-body-xsmall-bold-paragraphSpacing: 0;
  --pre-body-xsmall-bold-textCase: none;
  --pre-body-xsmall-fontSize: 12;
  --pre-body-xsmall-textDecoration: none;
  --pre-body-xsmall-fontFamily: Sandoll GothicNeo1;
  --pre-body-xsmall-fontWeight: 400;
  --pre-body-xsmall-fontStyle: normal;
  --pre-body-xsmall-fontStretch: normal;
  --pre-body-xsmall-letterSpacing: 0;
  --pre-body-xsmall-lineHeight: 16;
  --pre-body-xsmall-paragraphIndent: 0;
  --pre-body-xsmall-paragraphSpacing: 0;
  --pre-body-xsmall-textCase: none;
  --pre-body-xsmall-light-fontSize: 12;
  --pre-body-xsmall-light-textDecoration: none;
  --pre-body-xsmall-light-fontFamily: Sandoll GothicNeo1;
  --pre-body-xsmall-light-fontWeight: 400;
  --pre-body-xsmall-light-fontStyle: normal;
  --pre-body-xsmall-light-fontStretch: normal;
  --pre-body-xsmall-light-letterSpacing: 0;
  --pre-body-xsmall-light-lineHeight: 16;
  --pre-body-xsmall-light-paragraphIndent: 0;
  --pre-body-xsmall-light-paragraphSpacing: 0;
  --pre-body-xsmall-light-textCase: none;
  --pre-body-tiny-fontSize: 10;
  --pre-body-tiny-textDecoration: none;
  --pre-body-tiny-fontFamily: Sandoll GothicNeo1;
  --pre-body-tiny-fontWeight: 400;
  --pre-body-tiny-fontStyle: normal;
  --pre-body-tiny-fontStretch: normal;
  --pre-body-tiny-letterSpacing: 0;
  --pre-body-tiny-lineHeight: 12;
  --pre-body-tiny-paragraphIndent: 0;
  --pre-body-tiny-paragraphSpacing: 0;
  --pre-body-tiny-textCase: none;
  --pre-body-tiny-light-fontSize: 10;
  --pre-body-tiny-light-textDecoration: none;
  --pre-body-tiny-light-fontFamily: Sandoll GothicNeo1;
  --pre-body-tiny-light-fontWeight: 400;
  --pre-body-tiny-light-fontStyle: normal;
  --pre-body-tiny-light-fontStretch: normal;
  --pre-body-tiny-light-letterSpacing: 0;
  --pre-body-tiny-light-lineHeight: 12;
  --pre-body-tiny-light-paragraphIndent: 0;
  --pre-body-tiny-light-paragraphSpacing: 0;
  --pre-body-tiny-light-textCase: none;
  --pre-semantic-button-large-fontSize: 16;
  --pre-semantic-button-large-textDecoration: none;
  --pre-semantic-button-large-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-button-large-fontWeight: 400;
  --pre-semantic-button-large-fontStyle: normal;
  --pre-semantic-button-large-fontStretch: normal;
  --pre-semantic-button-large-letterSpacing: 0;
  --pre-semantic-button-large-lineHeight: 24;
  --pre-semantic-button-large-paragraphIndent: 0;
  --pre-semantic-button-large-paragraphSpacing: 0;
  --pre-semantic-button-large-textCase: none;
  --pre-semantic-button-medium-fontSize: 14;
  --pre-semantic-button-medium-textDecoration: none;
  --pre-semantic-button-medium-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-button-medium-fontWeight: 400;
  --pre-semantic-button-medium-fontStyle: normal;
  --pre-semantic-button-medium-fontStretch: normal;
  --pre-semantic-button-medium-letterSpacing: 0;
  --pre-semantic-button-medium-lineHeight: 20;
  --pre-semantic-button-medium-paragraphIndent: 0;
  --pre-semantic-button-medium-paragraphSpacing: 0;
  --pre-semantic-button-medium-textCase: none;
  --pre-semantic-button-small-fontSize: 13;
  --pre-semantic-button-small-textDecoration: none;
  --pre-semantic-button-small-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-button-small-fontWeight: 400;
  --pre-semantic-button-small-fontStyle: normal;
  --pre-semantic-button-small-fontStretch: normal;
  --pre-semantic-button-small-letterSpacing: 0;
  --pre-semantic-button-small-lineHeight: 18;
  --pre-semantic-button-small-paragraphIndent: 0;
  --pre-semantic-button-small-paragraphSpacing: 0;
  --pre-semantic-button-small-textCase: none;
  --pre-semantic-button-xsmall-fontSize: 12;
  --pre-semantic-button-xsmall-textDecoration: none;
  --pre-semantic-button-xsmall-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-button-xsmall-fontWeight: 400;
  --pre-semantic-button-xsmall-fontStyle: normal;
  --pre-semantic-button-xsmall-fontStretch: normal;
  --pre-semantic-button-xsmall-letterSpacing: 0;
  --pre-semantic-button-xsmall-lineHeight: 16;
  --pre-semantic-button-xsmall-paragraphIndent: 0;
  --pre-semantic-button-xsmall-paragraphSpacing: 0;
  --pre-semantic-button-xsmall-textCase: none;
  --pre-semantic-input-large-placeholder-on-fontSize: 16;
  --pre-semantic-input-large-placeholder-on-textDecoration: none;
  --pre-semantic-input-large-placeholder-on-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-input-large-placeholder-on-fontWeight: 400;
  --pre-semantic-input-large-placeholder-on-fontStyle: normal;
  --pre-semantic-input-large-placeholder-on-fontStretch: normal;
  --pre-semantic-input-large-placeholder-on-letterSpacing: 0;
  --pre-semantic-input-large-placeholder-on-lineHeight: 24;
  --pre-semantic-input-large-placeholder-on-paragraphIndent: 0;
  --pre-semantic-input-large-placeholder-on-paragraphSpacing: 0;
  --pre-semantic-input-large-placeholder-on-textCase: none;
  --pre-semantic-input-large-placeholder-off-fontSize: 16;
  --pre-semantic-input-large-placeholder-off-textDecoration: none;
  --pre-semantic-input-large-placeholder-off-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-input-large-placeholder-off-fontWeight: 400;
  --pre-semantic-input-large-placeholder-off-fontStyle: normal;
  --pre-semantic-input-large-placeholder-off-fontStretch: normal;
  --pre-semantic-input-large-placeholder-off-letterSpacing: 0;
  --pre-semantic-input-large-placeholder-off-lineHeight: 24;
  --pre-semantic-input-large-placeholder-off-paragraphIndent: 0;
  --pre-semantic-input-large-placeholder-off-paragraphSpacing: 0;
  --pre-semantic-input-large-placeholder-off-textCase: none;
  --pre-semantic-input-medium-placeholder-on-fontSize: 14;
  --pre-semantic-input-medium-placeholder-on-textDecoration: none;
  --pre-semantic-input-medium-placeholder-on-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-input-medium-placeholder-on-fontWeight: 400;
  --pre-semantic-input-medium-placeholder-on-fontStyle: normal;
  --pre-semantic-input-medium-placeholder-on-fontStretch: normal;
  --pre-semantic-input-medium-placeholder-on-letterSpacing: 0;
  --pre-semantic-input-medium-placeholder-on-lineHeight: 20;
  --pre-semantic-input-medium-placeholder-on-paragraphIndent: 0;
  --pre-semantic-input-medium-placeholder-on-paragraphSpacing: 0;
  --pre-semantic-input-medium-placeholder-on-textCase: none;
  --pre-semantic-input-medium-placeholder-off-fontSize: 14;
  --pre-semantic-input-medium-placeholder-off-textDecoration: none;
  --pre-semantic-input-medium-placeholder-off-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-input-medium-placeholder-off-fontWeight: 400;
  --pre-semantic-input-medium-placeholder-off-fontStyle: normal;
  --pre-semantic-input-medium-placeholder-off-fontStretch: normal;
  --pre-semantic-input-medium-placeholder-off-letterSpacing: 0;
  --pre-semantic-input-medium-placeholder-off-lineHeight: 20;
  --pre-semantic-input-medium-placeholder-off-paragraphIndent: 0;
  --pre-semantic-input-medium-placeholder-off-paragraphSpacing: 0;
  --pre-semantic-input-medium-placeholder-off-textCase: none;
  --pre-semantic-input-label-fontSize: 14;
  --pre-semantic-input-label-textDecoration: none;
  --pre-semantic-input-label-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-input-label-fontWeight: 400;
  --pre-semantic-input-label-fontStyle: normal;
  --pre-semantic-input-label-fontStretch: normal;
  --pre-semantic-input-label-letterSpacing: 0;
  --pre-semantic-input-label-lineHeight: 20;
  --pre-semantic-input-label-paragraphIndent: 0;
  --pre-semantic-input-label-paragraphSpacing: 0;
  --pre-semantic-input-label-textCase: none;
  --pre-semantic-input-hint-fontSize: 13;
  --pre-semantic-input-hint-textDecoration: none;
  --pre-semantic-input-hint-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-input-hint-fontWeight: 400;
  --pre-semantic-input-hint-fontStyle: normal;
  --pre-semantic-input-hint-fontStretch: normal;
  --pre-semantic-input-hint-letterSpacing: 0;
  --pre-semantic-input-hint-lineHeight: 18;
  --pre-semantic-input-hint-paragraphIndent: 0;
  --pre-semantic-input-hint-paragraphSpacing: 0;
  --pre-semantic-input-hint-textCase: none;
  --pre-semantic-input-caption-fontSize: 12;
  --pre-semantic-input-caption-textDecoration: none;
  --pre-semantic-input-caption-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-input-caption-fontWeight: 400;
  --pre-semantic-input-caption-fontStyle: normal;
  --pre-semantic-input-caption-fontStretch: normal;
  --pre-semantic-input-caption-letterSpacing: 0;
  --pre-semantic-input-caption-lineHeight: 16;
  --pre-semantic-input-caption-paragraphIndent: 0;
  --pre-semantic-input-caption-paragraphSpacing: 0;
  --pre-semantic-input-caption-textCase: none;
  --pre-semantic-table-label-fontSize: 12;
  --pre-semantic-table-label-textDecoration: none;
  --pre-semantic-table-label-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-table-label-fontWeight: 400;
  --pre-semantic-table-label-fontStyle: normal;
  --pre-semantic-table-label-fontStretch: normal;
  --pre-semantic-table-label-letterSpacing: 0;
  --pre-semantic-table-label-lineHeight: 16;
  --pre-semantic-table-label-paragraphIndent: 0;
  --pre-semantic-table-label-paragraphSpacing: 0;
  --pre-semantic-table-label-textCase: none;
  --pre-semantic-table-body-bold-fontSize: 14;
  --pre-semantic-table-body-bold-textDecoration: none;
  --pre-semantic-table-body-bold-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-table-body-bold-fontWeight: 400;
  --pre-semantic-table-body-bold-fontStyle: normal;
  --pre-semantic-table-body-bold-fontStretch: normal;
  --pre-semantic-table-body-bold-letterSpacing: 0;
  --pre-semantic-table-body-bold-lineHeight: 20;
  --pre-semantic-table-body-bold-paragraphIndent: 0;
  --pre-semantic-table-body-bold-paragraphSpacing: 0;
  --pre-semantic-table-body-bold-textCase: none;
  --pre-semantic-table-body-fontSize: 14;
  --pre-semantic-table-body-textDecoration: none;
  --pre-semantic-table-body-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-table-body-fontWeight: 400;
  --pre-semantic-table-body-fontStyle: normal;
  --pre-semantic-table-body-fontStretch: normal;
  --pre-semantic-table-body-letterSpacing: 0;
  --pre-semantic-table-body-lineHeight: 20;
  --pre-semantic-table-body-paragraphIndent: 0;
  --pre-semantic-table-body-paragraphSpacing: 0;
  --pre-semantic-table-body-textCase: none;
  --pre-semantic-table-sub-fontSize: 12;
  --pre-semantic-table-sub-textDecoration: none;
  --pre-semantic-table-sub-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-table-sub-fontWeight: 400;
  --pre-semantic-table-sub-fontStyle: normal;
  --pre-semantic-table-sub-fontStretch: normal;
  --pre-semantic-table-sub-letterSpacing: 0;
  --pre-semantic-table-sub-lineHeight: 16;
  --pre-semantic-table-sub-paragraphIndent: 0;
  --pre-semantic-table-sub-paragraphSpacing: 0;
  --pre-semantic-table-sub-textCase: none;
  --pre-semantic-table-caption-fontSize: 10;
  --pre-semantic-table-caption-textDecoration: none;
  --pre-semantic-table-caption-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-table-caption-fontWeight: 400;
  --pre-semantic-table-caption-fontStyle: normal;
  --pre-semantic-table-caption-fontStretch: normal;
  --pre-semantic-table-caption-letterSpacing: 0;
  --pre-semantic-table-caption-lineHeight: 12;
  --pre-semantic-table-caption-paragraphIndent: 0;
  --pre-semantic-table-caption-paragraphSpacing: 0;
  --pre-semantic-table-caption-textCase: none;
  --pre-semantic-navi-primary-fontSize: 14;
  --pre-semantic-navi-primary-textDecoration: none;
  --pre-semantic-navi-primary-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-navi-primary-fontWeight: 400;
  --pre-semantic-navi-primary-fontStyle: normal;
  --pre-semantic-navi-primary-fontStretch: normal;
  --pre-semantic-navi-primary-letterSpacing: 0;
  --pre-semantic-navi-primary-lineHeight: 20;
  --pre-semantic-navi-primary-paragraphIndent: 0;
  --pre-semantic-navi-primary-paragraphSpacing: 0;
  --pre-semantic-navi-primary-textCase: none;
  --pre-semantic-navi-secondary-on-fontSize: 13;
  --pre-semantic-navi-secondary-on-textDecoration: none;
  --pre-semantic-navi-secondary-on-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-navi-secondary-on-fontWeight: 400;
  --pre-semantic-navi-secondary-on-fontStyle: normal;
  --pre-semantic-navi-secondary-on-fontStretch: normal;
  --pre-semantic-navi-secondary-on-letterSpacing: 0;
  --pre-semantic-navi-secondary-on-lineHeight: 18;
  --pre-semantic-navi-secondary-on-paragraphIndent: 0;
  --pre-semantic-navi-secondary-on-paragraphSpacing: 0;
  --pre-semantic-navi-secondary-on-textCase: none;
  --pre-semantic-navi-secondary-off-fontSize: 13;
  --pre-semantic-navi-secondary-off-textDecoration: none;
  --pre-semantic-navi-secondary-off-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-navi-secondary-off-fontWeight: 400;
  --pre-semantic-navi-secondary-off-fontStyle: normal;
  --pre-semantic-navi-secondary-off-fontStretch: normal;
  --pre-semantic-navi-secondary-off-letterSpacing: 0;
  --pre-semantic-navi-secondary-off-lineHeight: 18;
  --pre-semantic-navi-secondary-off-paragraphIndent: 0;
  --pre-semantic-navi-secondary-off-paragraphSpacing: 0;
  --pre-semantic-navi-secondary-off-textCase: none;
  --pre-semantic-navi-bottom-on-fontSize: 10;
  --pre-semantic-navi-bottom-on-textDecoration: none;
  --pre-semantic-navi-bottom-on-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-navi-bottom-on-fontWeight: 400;
  --pre-semantic-navi-bottom-on-fontStyle: normal;
  --pre-semantic-navi-bottom-on-fontStretch: normal;
  --pre-semantic-navi-bottom-on-letterSpacing: 0;
  --pre-semantic-navi-bottom-on-lineHeight: 14;
  --pre-semantic-navi-bottom-on-paragraphIndent: 0;
  --pre-semantic-navi-bottom-on-paragraphSpacing: 0;
  --pre-semantic-navi-bottom-on-textCase: none;
  --pre-semantic-navi-bottom-off-fontSize: 10;
  --pre-semantic-navi-bottom-off-textDecoration: none;
  --pre-semantic-navi-bottom-off-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-navi-bottom-off-fontWeight: 400;
  --pre-semantic-navi-bottom-off-fontStyle: normal;
  --pre-semantic-navi-bottom-off-fontStretch: normal;
  --pre-semantic-navi-bottom-off-letterSpacing: 0;
  --pre-semantic-navi-bottom-off-lineHeight: 14;
  --pre-semantic-navi-bottom-off-paragraphIndent: 0;
  --pre-semantic-navi-bottom-off-paragraphSpacing: 0;
  --pre-semantic-navi-bottom-off-textCase: none;
  --pre-semantic-controler-large-select-fontSize: 16;
  --pre-semantic-controler-large-select-textDecoration: none;
  --pre-semantic-controler-large-select-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-controler-large-select-fontWeight: 400;
  --pre-semantic-controler-large-select-fontStyle: normal;
  --pre-semantic-controler-large-select-fontStretch: normal;
  --pre-semantic-controler-large-select-letterSpacing: 0;
  --pre-semantic-controler-large-select-lineHeight: 24;
  --pre-semantic-controler-large-select-paragraphIndent: 0;
  --pre-semantic-controler-large-select-paragraphSpacing: 0;
  --pre-semantic-controler-large-select-textCase: none;
  --pre-semantic-controler-large-unselect-fontSize: 16;
  --pre-semantic-controler-large-unselect-textDecoration: none;
  --pre-semantic-controler-large-unselect-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-controler-large-unselect-fontWeight: 400;
  --pre-semantic-controler-large-unselect-fontStyle: normal;
  --pre-semantic-controler-large-unselect-fontStretch: normal;
  --pre-semantic-controler-large-unselect-letterSpacing: 0;
  --pre-semantic-controler-large-unselect-lineHeight: 24;
  --pre-semantic-controler-large-unselect-paragraphIndent: 0;
  --pre-semantic-controler-large-unselect-paragraphSpacing: 0;
  --pre-semantic-controler-large-unselect-textCase: none;
  --pre-semantic-controler-medium-select-fontSize: 14;
  --pre-semantic-controler-medium-select-textDecoration: none;
  --pre-semantic-controler-medium-select-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-controler-medium-select-fontWeight: 400;
  --pre-semantic-controler-medium-select-fontStyle: normal;
  --pre-semantic-controler-medium-select-fontStretch: normal;
  --pre-semantic-controler-medium-select-letterSpacing: 0;
  --pre-semantic-controler-medium-select-lineHeight: 20;
  --pre-semantic-controler-medium-select-paragraphIndent: 0;
  --pre-semantic-controler-medium-select-paragraphSpacing: 0;
  --pre-semantic-controler-medium-select-textCase: none;
  --pre-semantic-controler-medium-unselect-fontSize: 14;
  --pre-semantic-controler-medium-unselect-textDecoration: none;
  --pre-semantic-controler-medium-unselect-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-controler-medium-unselect-fontWeight: 400;
  --pre-semantic-controler-medium-unselect-fontStyle: normal;
  --pre-semantic-controler-medium-unselect-fontStretch: normal;
  --pre-semantic-controler-medium-unselect-letterSpacing: 0;
  --pre-semantic-controler-medium-unselect-lineHeight: 20;
  --pre-semantic-controler-medium-unselect-paragraphIndent: 0;
  --pre-semantic-controler-medium-unselect-paragraphSpacing: 0;
  --pre-semantic-controler-medium-unselect-textCase: none;
  --pre-semantic-controler-small-select-fontSize: 13;
  --pre-semantic-controler-small-select-textDecoration: none;
  --pre-semantic-controler-small-select-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-controler-small-select-fontWeight: 400;
  --pre-semantic-controler-small-select-fontStyle: normal;
  --pre-semantic-controler-small-select-fontStretch: normal;
  --pre-semantic-controler-small-select-letterSpacing: 0;
  --pre-semantic-controler-small-select-lineHeight: 18;
  --pre-semantic-controler-small-select-paragraphIndent: 0;
  --pre-semantic-controler-small-select-paragraphSpacing: 0;
  --pre-semantic-controler-small-select-textCase: none;
  --pre-semantic-controler-small-unselect-fontSize: 13;
  --pre-semantic-controler-small-unselect-textDecoration: none;
  --pre-semantic-controler-small-unselect-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-controler-small-unselect-fontWeight: 400;
  --pre-semantic-controler-small-unselect-fontStyle: normal;
  --pre-semantic-controler-small-unselect-fontStretch: normal;
  --pre-semantic-controler-small-unselect-letterSpacing: 0;
  --pre-semantic-controler-small-unselect-lineHeight: 18;
  --pre-semantic-controler-small-unselect-paragraphIndent: 0;
  --pre-semantic-controler-small-unselect-paragraphSpacing: 0;
  --pre-semantic-controler-small-unselect-textCase: none;
  --pre-semantic-controler-xsmall-select-fontSize: 12;
  --pre-semantic-controler-xsmall-select-textDecoration: none;
  --pre-semantic-controler-xsmall-select-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-controler-xsmall-select-fontWeight: 400;
  --pre-semantic-controler-xsmall-select-fontStyle: normal;
  --pre-semantic-controler-xsmall-select-fontStretch: normal;
  --pre-semantic-controler-xsmall-select-letterSpacing: 0;
  --pre-semantic-controler-xsmall-select-lineHeight: 16;
  --pre-semantic-controler-xsmall-select-paragraphIndent: 0;
  --pre-semantic-controler-xsmall-select-paragraphSpacing: 0;
  --pre-semantic-controler-xsmall-select-textCase: none;
  --pre-semantic-controler-xsmall-unselect-fontSize: 12;
  --pre-semantic-controler-xsmall-unselect-textDecoration: none;
  --pre-semantic-controler-xsmall-unselect-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-controler-xsmall-unselect-fontWeight: 400;
  --pre-semantic-controler-xsmall-unselect-fontStyle: normal;
  --pre-semantic-controler-xsmall-unselect-fontStretch: normal;
  --pre-semantic-controler-xsmall-unselect-letterSpacing: 0;
  --pre-semantic-controler-xsmall-unselect-lineHeight: 16;
  --pre-semantic-controler-xsmall-unselect-paragraphIndent: 0;
  --pre-semantic-controler-xsmall-unselect-paragraphSpacing: 0;
  --pre-semantic-controler-xsmall-unselect-textCase: none;
  --pre-semantic-badge-large-fontSize: 12;
  --pre-semantic-badge-large-textDecoration: none;
  --pre-semantic-badge-large-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-badge-large-fontWeight: 400;
  --pre-semantic-badge-large-fontStyle: normal;
  --pre-semantic-badge-large-fontStretch: normal;
  --pre-semantic-badge-large-letterSpacing: 0;
  --pre-semantic-badge-large-lineHeight: 16;
  --pre-semantic-badge-large-paragraphIndent: 0;
  --pre-semantic-badge-large-paragraphSpacing: 0;
  --pre-semantic-badge-large-textCase: uppercase;
  --pre-semantic-badge-medium-fontSize: 10;
  --pre-semantic-badge-medium-textDecoration: none;
  --pre-semantic-badge-medium-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-badge-medium-fontWeight: 400;
  --pre-semantic-badge-medium-fontStyle: normal;
  --pre-semantic-badge-medium-fontStretch: normal;
  --pre-semantic-badge-medium-letterSpacing: 0;
  --pre-semantic-badge-medium-lineHeight: 12;
  --pre-semantic-badge-medium-paragraphIndent: 0;
  --pre-semantic-badge-medium-paragraphSpacing: 0;
  --pre-semantic-badge-medium-textCase: uppercase;
  --pre-semantic-badge-small-fontSize: 8;
  --pre-semantic-badge-small-textDecoration: none;
  --pre-semantic-badge-small-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-badge-small-fontWeight: 400;
  --pre-semantic-badge-small-fontStyle: normal;
  --pre-semantic-badge-small-fontStretch: normal;
  --pre-semantic-badge-small-letterSpacing: 0;
  --pre-semantic-badge-small-lineHeight: 10;
  --pre-semantic-badge-small-paragraphIndent: 0;
  --pre-semantic-badge-small-paragraphSpacing: 0;
  --pre-semantic-badge-small-textCase: uppercase;
  --pre-semantic-list-label-medium-fontSize: 14;
  --pre-semantic-list-label-medium-textDecoration: none;
  --pre-semantic-list-label-medium-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-list-label-medium-fontWeight: 400;
  --pre-semantic-list-label-medium-fontStyle: normal;
  --pre-semantic-list-label-medium-fontStretch: normal;
  --pre-semantic-list-label-medium-letterSpacing: 0;
  --pre-semantic-list-label-medium-lineHeight: 20;
  --pre-semantic-list-label-medium-paragraphIndent: 0;
  --pre-semantic-list-label-medium-paragraphSpacing: 0;
  --pre-semantic-list-label-medium-textCase: none;
  --pre-semantic-list-label-small-fontSize: 13;
  --pre-semantic-list-label-small-textDecoration: none;
  --pre-semantic-list-label-small-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-list-label-small-fontWeight: 400;
  --pre-semantic-list-label-small-fontStyle: normal;
  --pre-semantic-list-label-small-fontStretch: normal;
  --pre-semantic-list-label-small-letterSpacing: 0;
  --pre-semantic-list-label-small-lineHeight: 18;
  --pre-semantic-list-label-small-paragraphIndent: 0;
  --pre-semantic-list-label-small-paragraphSpacing: 0;
  --pre-semantic-list-label-small-textCase: none;
  --pre-semantic-list-xlarge-fontSize: 18;
  --pre-semantic-list-xlarge-textDecoration: none;
  --pre-semantic-list-xlarge-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-list-xlarge-fontWeight: 400;
  --pre-semantic-list-xlarge-fontStyle: normal;
  --pre-semantic-list-xlarge-fontStretch: normal;
  --pre-semantic-list-xlarge-letterSpacing: 0;
  --pre-semantic-list-xlarge-lineHeight: 28;
  --pre-semantic-list-xlarge-paragraphIndent: 0;
  --pre-semantic-list-xlarge-paragraphSpacing: 0;
  --pre-semantic-list-xlarge-textCase: none;
  --pre-semantic-list-large-bold-fontSize: 16;
  --pre-semantic-list-large-bold-textDecoration: none;
  --pre-semantic-list-large-bold-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-list-large-bold-fontWeight: 400;
  --pre-semantic-list-large-bold-fontStyle: normal;
  --pre-semantic-list-large-bold-fontStretch: normal;
  --pre-semantic-list-large-bold-letterSpacing: 0;
  --pre-semantic-list-large-bold-lineHeight: 24;
  --pre-semantic-list-large-bold-paragraphIndent: 0;
  --pre-semantic-list-large-bold-paragraphSpacing: 0;
  --pre-semantic-list-large-bold-textCase: none;
  --pre-semantic-list-large-fontSize: 16;
  --pre-semantic-list-large-textDecoration: none;
  --pre-semantic-list-large-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-list-large-fontWeight: 400;
  --pre-semantic-list-large-fontStyle: normal;
  --pre-semantic-list-large-fontStretch: normal;
  --pre-semantic-list-large-letterSpacing: 0;
  --pre-semantic-list-large-lineHeight: 24;
  --pre-semantic-list-large-paragraphIndent: 0;
  --pre-semantic-list-large-paragraphSpacing: 0;
  --pre-semantic-list-large-textCase: none;
  --pre-semantic-list-medium-bold-fontSize: 14;
  --pre-semantic-list-medium-bold-textDecoration: none;
  --pre-semantic-list-medium-bold-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-list-medium-bold-fontWeight: 400;
  --pre-semantic-list-medium-bold-fontStyle: normal;
  --pre-semantic-list-medium-bold-fontStretch: normal;
  --pre-semantic-list-medium-bold-letterSpacing: 0;
  --pre-semantic-list-medium-bold-lineHeight: 20;
  --pre-semantic-list-medium-bold-paragraphIndent: 0;
  --pre-semantic-list-medium-bold-paragraphSpacing: 0;
  --pre-semantic-list-medium-bold-textCase: none;
  --pre-semantic-list-medium-fontSize: 14;
  --pre-semantic-list-medium-textDecoration: none;
  --pre-semantic-list-medium-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-list-medium-fontWeight: 400;
  --pre-semantic-list-medium-fontStyle: normal;
  --pre-semantic-list-medium-fontStretch: normal;
  --pre-semantic-list-medium-letterSpacing: 0;
  --pre-semantic-list-medium-lineHeight: 20;
  --pre-semantic-list-medium-paragraphIndent: 0;
  --pre-semantic-list-medium-paragraphSpacing: 0;
  --pre-semantic-list-medium-textCase: none;
  --pre-semantic-list-medium-light-fontSize: 14;
  --pre-semantic-list-medium-light-textDecoration: none;
  --pre-semantic-list-medium-light-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-list-medium-light-fontWeight: 400;
  --pre-semantic-list-medium-light-fontStyle: normal;
  --pre-semantic-list-medium-light-fontStretch: normal;
  --pre-semantic-list-medium-light-letterSpacing: 0;
  --pre-semantic-list-medium-light-lineHeight: 20;
  --pre-semantic-list-medium-light-paragraphIndent: 0;
  --pre-semantic-list-medium-light-paragraphSpacing: 0;
  --pre-semantic-list-medium-light-textCase: none;
  --pre-semantic-list-small-bold-fontSize: 13;
  --pre-semantic-list-small-bold-textDecoration: none;
  --pre-semantic-list-small-bold-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-list-small-bold-fontWeight: 400;
  --pre-semantic-list-small-bold-fontStyle: normal;
  --pre-semantic-list-small-bold-fontStretch: normal;
  --pre-semantic-list-small-bold-letterSpacing: 0;
  --pre-semantic-list-small-bold-lineHeight: 18;
  --pre-semantic-list-small-bold-paragraphIndent: 0;
  --pre-semantic-list-small-bold-paragraphSpacing: 0;
  --pre-semantic-list-small-bold-textCase: none;
  --pre-semantic-list-small-fontSize: 13;
  --pre-semantic-list-small-textDecoration: none;
  --pre-semantic-list-small-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-list-small-fontWeight: 400;
  --pre-semantic-list-small-fontStyle: normal;
  --pre-semantic-list-small-fontStretch: normal;
  --pre-semantic-list-small-letterSpacing: 0;
  --pre-semantic-list-small-lineHeight: 18;
  --pre-semantic-list-small-paragraphIndent: 0;
  --pre-semantic-list-small-paragraphSpacing: 0;
  --pre-semantic-list-small-textCase: none;
  --pre-semantic-list-small-light-fontSize: 13;
  --pre-semantic-list-small-light-textDecoration: none;
  --pre-semantic-list-small-light-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-list-small-light-fontWeight: 400;
  --pre-semantic-list-small-light-fontStyle: normal;
  --pre-semantic-list-small-light-fontStretch: normal;
  --pre-semantic-list-small-light-letterSpacing: 0;
  --pre-semantic-list-small-light-lineHeight: 18;
  --pre-semantic-list-small-light-paragraphIndent: 0;
  --pre-semantic-list-small-light-paragraphSpacing: 0;
  --pre-semantic-list-small-light-textCase: none;
  --pre-semantic-list-xsmall-light-fontSize: 12;
  --pre-semantic-list-xsmall-light-textDecoration: none;
  --pre-semantic-list-xsmall-light-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-list-xsmall-light-fontWeight: 400;
  --pre-semantic-list-xsmall-light-fontStyle: normal;
  --pre-semantic-list-xsmall-light-fontStretch: normal;
  --pre-semantic-list-xsmall-light-letterSpacing: 0;
  --pre-semantic-list-xsmall-light-lineHeight: 16;
  --pre-semantic-list-xsmall-light-paragraphIndent: 0;
  --pre-semantic-list-xsmall-light-paragraphSpacing: 0;
  --pre-semantic-list-xsmall-light-textCase: none;
  --pre-semantic-number-10-fontSize: 10;
  --pre-semantic-number-10-textDecoration: none;
  --pre-semantic-number-10-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-number-10-fontWeight: 400;
  --pre-semantic-number-10-fontStyle: normal;
  --pre-semantic-number-10-fontStretch: normal;
  --pre-semantic-number-10-letterSpacing: 0;
  --pre-semantic-number-10-lineHeight: 14;
  --pre-semantic-number-10-paragraphIndent: 0;
  --pre-semantic-number-10-paragraphSpacing: 0;
  --pre-semantic-number-10-textCase: none;
  --pre-semantic-number-20-fontSize: 20;
  --pre-semantic-number-20-textDecoration: none;
  --pre-semantic-number-20-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-number-20-fontWeight: 400;
  --pre-semantic-number-20-fontStyle: normal;
  --pre-semantic-number-20-fontStretch: normal;
  --pre-semantic-number-20-letterSpacing: 0;
  --pre-semantic-number-20-lineHeight: 28;
  --pre-semantic-number-20-paragraphIndent: 0;
  --pre-semantic-number-20-paragraphSpacing: 0;
  --pre-semantic-number-20-textCase: none;
  --pre-semantic-number-24-fontSize: 24;
  --pre-semantic-number-24-textDecoration: none;
  --pre-semantic-number-24-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-number-24-fontWeight: 400;
  --pre-semantic-number-24-fontStyle: normal;
  --pre-semantic-number-24-fontStretch: normal;
  --pre-semantic-number-24-letterSpacing: 0;
  --pre-semantic-number-24-lineHeight: 32;
  --pre-semantic-number-24-paragraphIndent: 0;
  --pre-semantic-number-24-paragraphSpacing: 0;
  --pre-semantic-number-24-textCase: none;
  --pre-semantic-number-30-fontSize: 30;
  --pre-semantic-number-30-textDecoration: none;
  --pre-semantic-number-30-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-number-30-fontWeight: 400;
  --pre-semantic-number-30-fontStyle: normal;
  --pre-semantic-number-30-fontStretch: normal;
  --pre-semantic-number-30-letterSpacing: 0;
  --pre-semantic-number-30-lineHeight: 38;
  --pre-semantic-number-30-paragraphIndent: 0;
  --pre-semantic-number-30-paragraphSpacing: 0;
  --pre-semantic-number-30-textCase: none;
  --pre-semantic-number-36-fontSize: 36;
  --pre-semantic-number-36-textDecoration: none;
  --pre-semantic-number-36-fontFamily: Sandoll GothicNeo1;
  --pre-semantic-number-36-fontWeight: 400;
  --pre-semantic-number-36-fontStyle: normal;
  --pre-semantic-number-36-fontStretch: normal;
  --pre-semantic-number-36-letterSpacing: 0;
  --pre-semantic-number-36-lineHeight: 44;
  --pre-semantic-number-36-paragraphIndent: 0;
  --pre-semantic-number-36-paragraphSpacing: 0;
  --pre-semantic-number-36-textCase: none;
  /*btns*/
  --pre-color-button-primary: #f58220;
  --pre-color-button-secondary: #282829;
  --pre-color-button-tertiary: #0a0a0a;
  --pre-color-button-stock-blue: #4789e5;
  --pre-color-button-stock-red: #e05c60;
  --pre-color-button-stock-cancel: #983ff1;
  --pre-color-button-stock-correction: #54803f;
  --pre-color-button-disable: #2d2d2e;
  --pre-color-button-gray: #636566;
  --pre-color-button-stock: #c75255;
  --pre-color-button-interaction: #4880ee;
  --pre-color-button-chart: #043b72;
  /*icon-back*/
  --pre-color-icons-primary: #f58220;
  --pre-color-icons-stock-blue: #4789e5;
  --pre-color-icons-stock-red: #e05c60;
  --pre-color-icons-stock-cancel: #983ff1;
  --pre-color-icons-stock-correction: #54803f;
  --pre-color-icons-disable: #2d2d2e;
  --pre-color-icons-gray: #636566;
  --pre-color-icons-stock: #c75255;
  --pre-color-icons-interaction: #4880ee;
  --pre-color-icons-chart: #043b72;
}