@charset "utf-8";

@font-face {
  font-family: "Pretendard GOV";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/PretendardGOV-Regular.subset.woff") format("woff");
}
@font-face {
  font-family: "Pretendard GOV";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/PretendardGOV-Medium.subset.woff") format("woff");
}
@font-face {
  font-family: "Pretendard GOV";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/PretendardGOV-Bold.subset.woff") format("woff");
}
:root {
  /*color*/
  --krds-colors-white: #fff;
  --krds-colors-black: #000;
  --krds-colors-gray: #8E8E8E;
  --krds-colors-primary: #246BEB;
  --krds-colors-secondary: #003675;
  --krds-colors-point: #E71825;
  --krds-colors-danger: #EB003B;
  --krds-colors-warning: #FFB724;
  --krds-colors-success: #008A1E;
  --krds-colors-information: #2768FF;
  /*primary*/
  --krds-primaryColors-5: #EFF5FF;
  --krds-primaryColors-10: #D3E1FB;
  --krds-primaryColors-20: #A7C4F7;
  --krds-primaryColors-30: #7CA6F3;
  --krds-primaryColors-40: #5089EF;
  --krds-primaryColors-60: #1D56BC;
  --krds-primaryColors-70: #16408D;
  --krds-primaryColors-80: #0E2B5E;
  --krds-primaryColors-90: #07152F;
  /*secondary*/
  --krds-secondaryColors-5: #EDF1F5;
  --krds-secondaryColors-10: #CDD7E4;
  --krds-secondaryColors-20: #B4C4D6;
  --krds-secondaryColors-30: #99B0CB;
  --krds-secondaryColors-40: #2A5C96;
  --krds-secondaryColors-60: #002B5E;
  --krds-secondaryColors-70: #002046;
  --krds-secondaryColors-80: #00162F;
  --krds-secondaryColors-90: #000B17;
  /*point*/
  --krds-pointColors-5: #FDF2F3;
  --krds-pointColors-10: #FAD1D3;
  --krds-pointColors-20: #F5A3A8;
  --krds-pointColors-30: #F1747C;
  --krds-pointColors-40: #EC4651;
  --krds-pointColors-60: #B9131E;
  --krds-pointColors-70: #8B0E16;
  --krds-pointColors-80: #5C0A0F;
  --krds-pointColors-90: #2E0507;
  /*gray*/
  --krds-grayColors-5: #F8F8F8;
  --krds-grayColors-10: #F0F0F0;
  --krds-grayColors-20: #E4E4E4;
  --krds-grayColors-30: #D8D8D8;
  --krds-grayColors-40: #C6C6C6;
  --krds-grayColors-50: #8E8E8E;
  --krds-grayColors-60: #717171;
  --krds-grayColors-70: #555555;
  --krds-grayColors-80: #2D2D2D;
  --krds-grayColors-90: #1D1D1D;
  /*breakpoints*/
  --krds-breakpoints-sm: 600px;
  --krds-breakpoints-md: 1024px;
  --krds-breakpoints-lg: 1920px;
  /*spacers*/
  --krds-spacers-0: 0;
  --krds-spacers-default: 0.1rem;
  --krds-spacers-default2: 0.2rem;
  --krds-spacers-full: 100%;
  /*font-size*/
  --krds-font-size-sizes-display-sm: 4rem;
  --krds-font-size-sizes-display-md: 5rem;
  --krds-font-size-sizes-display-lg: 6.6rem;
  --krds-font-size-sizes-heading-sm: 3.2rem;
  --krds-font-size-sizes-heading-md: 4rem;
  --krds-font-size-sizes-heading-lg: 5rem;
  --krds-font-size-sizes-title-xsm: 1.5rem;
  --krds-font-size-sizes-title-sm: 1.7rem;
  --krds-font-size-sizes-title-md: 1.9rem;
  --krds-font-size-sizes-title-lg: 2.1rem;
  --krds-font-size-sizes-title-xlg: 2.5rem;
  --krds-font-size-sizes-title-xxlg: 3.2rem;
  --krds-font-size-sizes-body-sm: 1.5rem;
  --krds-font-size-sizes-body-md: 1.7rem;
  --krds-font-size-sizes-body-lg: 1.9rem;
  --krds-font-size-sizes-link-sm: 1.5rem;
  --krds-font-size-sizes-link-md: 1.7rem;
  --krds-font-size-sizes-link-lg: 1.9rem;
  --krds-font-size-sizes-detail-sm: 1.3rem;
  --krds-font-size-sizes-detail-md: 1.5rem;
  --krds-font-size-sizes-detail-lg: 1.7rem;
  --krds-font-size-sizes-label-xsm: 1.3rem;
  --krds-font-size-sizes-label-sm: 1.5rem;
  --krds-font-size-sizes-label-md: 1.7rem;
  --krds-font-size-sizes-label-lg: 1.9rem;
  /*fws*/
  --krds-fws-light: 300;
  --krds-fws-normal: 400;
  --krds-fws-medium: 500;
  --krds-fws-bold: 700;
  --krds-fws-bolder: 800;
  /*border-radius*/
  --krds-border-radius-1: 0.1rem;
  --krds-border-radius-2: 0.2rem;
  --krds-border-radius-4: 0.4rem;
  --krds-border-radius-6: 0.6rem;
  --krds-border-radius-8: 0.8rem;
  --krds-border-radius-10: 1rem;
  --krds-border-radius-12: 1.2rem;
  --krds-border-radius-full: 100%;
}