
@charset "utf-8";


//global
$global: (
  fontFamilies-pretendard-gov: Pretendard GOV,
  fontFamilies-pretendard: Pretendard,
  lineHeights-0: 99,
  lineHeights-1: 150%,
  fontWeights-pretendard-gov-0: Regular,
  fontWeights-pretendard-1: Regular,
  fontSize-0: 17,
  fontSize-1: 50,
  fontSize-2: 66,
  letterSpacing-0: 0%,
  paragraphSpacing-0: 0,
  display-medium-fontFamily: Pretendard GOV,
  display-medium-fontWeight: Regular,
  display-medium-lineHeight: 99,
  display-medium-fontSize: 50,
  display-medium-letterSpacing: 0%,
  display-medium-paragraphSpacing: 0,
  display-medium-paragraphIndent: 0px,
  display-medium-textCase: none,
  display-medium-textDecoration: none,
  display-large-fontFamily: Pretendard GOV,
  display-large-fontWeight: Regular,
  display-large-lineHeight: 99,
  display-large-fontSize: 66,
  display-large-letterSpacing: 0%,
  display-large-paragraphSpacing: 0,
  display-large-paragraphIndent: 0px,
  display-large-textCase: none,
  display-large-textDecoration: none,
  body-medium-fontFamily: Pretendard,
  body-medium-fontWeight: Regular,
  body-medium-lineHeight: 150%,
  body-medium-fontSize: 17,
  body-medium-letterSpacing: 0%,
  body-medium-paragraphSpacing: 0,
  body-medium-paragraphIndent: 0px,
  body-medium-textCase: none,
  body-medium-textDecoration: none,
  textCase-none: none,
  textDecoration-none: none,
  paragraphIndent-0: 0px,
)!default;

//Primitive/PC
$Primitive/PC: (
  color-primary-5: #eff5ff,
  color-primary-10: #d3e1fb,
  color-primary-20: #a7c4f7,
  color-primary-30: #7ca6f3,
  color-primary-40: #5089ef,
  color-primary-50: #246beb,
  color-primary-60: #1d56bc,
  color-primary-70: #16408d,
  color-primary-80: #0e2b5e,
  color-primary-90: #07152f,
  color-secondary-5: #edf1f5,
  color-secondary-10: #cdd7e4,
  color-secondary-20: #b4c4d6,
  color-secondary-30: #99b0cb,
  color-secondary-40: #2a5c96,
  color-secondary-50: #003675,
  color-secondary-60: #002b5e,
  color-secondary-70: #002046,
  color-secondary-80: #00162f,
  color-secondary-90: #000b17,
  color-gray-0: #ffffff,
  color-gray-5: #f8f8f8,
  color-gray-10: #f0f0f0,
  color-gray-20: #e4e4e4,
  color-gray-30: #d8d8d8,
  color-gray-40: #c6c6c6,
  color-gray-50: #8e8e8e,
  color-gray-60: #717171,
  color-gray-70: #555555,
  color-gray-80: #2d2d2d,
  color-gray-90: #1d1d1d,
  color-gray-100: #000000,
  color-gray-100-100%: #000000,
  color-gray-100-75%: #000000bf,
  color-gray-100-50%: #00000080,
  color-gray-100-25%: #00000040,
  color-gray-100-10%: #0000001a,
  color-system-danger-5: #feecf0,
  color-system-danger-10: #fcd4de,
  color-system-danger-20: #f799b1,
  color-system-danger-30: #f36689,
  color-system-danger-40: #ef3e5e,
  color-system-danger-50: #eb003b,
  color-system-danger-60: #d50136,
  color-system-danger-70: #8d0023,
  color-system-danger-80: #5e0018,
  color-system-danger-90: #2f000c,
  color-system-information-5: #e9f0ff,
  color-system-information-10: #d4e1ff,
  color-system-information-20: #a9c3ff,
  color-system-information-30: #7da4ff,
  color-system-information-40: #5286ff,
  color-system-information-50: #2768ff,
  color-system-information-60: #1f53cc,
  color-system-information-70: #173e99,
  color-system-information-80: #0c1f4d,
  color-system-information-90: #040a1a,
  color-system-warning-5: #fff8e9,
  color-system-warning-10: #ffeac1,
  color-system-warning-20: #ffe2a7,
  color-system-warning-30: #ffd47c,
  color-system-warning-40: #ffc550,
  color-system-warning-50: #ffb724,
  color-system-warning-60: #98690a,
  color-system-warning-70: #66490e,
  color-system-warning-80: #4d370b,
  color-system-warning-90: #332507,
  color-system-success-5: #eef7f0,
  color-system-success-10: #cee9d4,
  color-system-success-20: #b2dcbb,
  color-system-success-30: #8cca99,
  color-system-success-40: #33a14b,
  color-system-success-50: #008a1e,
  color-system-success-60: #006e18,
  color-system-success-70: #005312,
  color-system-success-80: #00370c,
  color-system-success-90: #002207,
  typo-brand: pretendard GOV,
  typo-weight-Regular: 400,
  typo-weight-Bold: 700,
  typo-Number: 0rem,
  space-0: 0rem,
  space-1: 0.0625rem,
  space-2: 0.125rem,
  space-3: 0.25rem,
  space-4: 0.5rem,
  space-5: 0.625rem,
  space-6: 0.75rem,
  space-7: 1rem,
  space-8: 1.25rem,
  space-9: 1.5rem,
  space-10: 1.75rem,
  space-11: 2rem,
  space-12: 2.25rem,
  space-13: 2.5rem,
  space-14: 2.75rem,
  space-15: 3rem,
  space-16: 3.5rem,
  space-17: 4rem,
  space-18: 4.5rem,
  space-19: 5rem,
  space-20: 6rem,
)!default;