<!-- paging : 웹 -->
<div class="pagination w-page">
	<a class="page-navi prev" href="#">이전</a>
	<div class="page-links">
		<a class="page-link" href="#">1</a>
		<span class="page-link link-dot"></span>
		<a class="page-link" href="#">6</a>
		<a class="page-link" href="#">7</a>
		<a class="page-link active" href="#">8</a>
		<a class="page-link" href="#">9</a>
		<a class="page-link" href="#">10</a>
		<a class="page-link" href="#">11</a>
		<span class="page-link link-dot"></span>
		<a class="page-link" href="#">120</a>
	</div>
	<a class="page-navi next" href="#">다음</a>
</div>
<!-- //paging : 웹 -->

<!-- paging : 모바일 -->
<div class="pagination m-page">
	<div class="page-navis">
		<a class="page-navi prev" href="#">이전</a>
		<a class="page-navi next" href="#">다음</a>
	</div>
	<div class="page-links">
		<a class="page-link" href="#">1</a>
		<span class="page-link link-dot"></span>
		<a class="page-link" href="#">7</a>
		<a class="page-link active" href="#">8</a>
		<a class="page-link" href="#">9</a>
		<span class="page-link link-dot"></span>
		<a class="page-link" href="#">120</a>
	</div>
</div>
<!-- //paging : 모바일 -->