<div class="chk-area">
	<div class="form-check">
		<input type="checkbox" name="chk_1" id="chk_1">
		<label for="chk_1">기본</label>
	</div>
	<div class="form-check">
		<input type="checkbox" name="chk_1" id="chk_2" checked>
		<label for="chk_2">선택됨</label>
	</div>
	<div class="form-check">
		<input type="checkbox" name="chk_1" id="chk_3" disabled>
		<label for="chk_3">비활성화</label>
	</div>
	<div class="form-check">
		<input type="checkbox" name="chk_1" id="chk_4" disabled checked>
		<label for="chk_4">선택된 비활성화</label>
	</div>
</div>