<!-- 긴급공지 -->
<div class="main-urgent-wrap">
    <ul class="urgent-ban-list">
        <li>
            <div class="urgent-ban">
                <span class="urgent-badge danger">긴급</span>
                <p class="urgent-txt">미세먼지 노출 시 철저한 위생관리로 건강관리에 유의바랍니다.</p>
                <a href="#" class="krds-btn medium text">
					<span class="m-hide">자세히 보기</span>
					<i class="svg-icon ico-more"></i>
				</a>
            </div>
        </li>
        <li>
            <div class="urgent-ban">
                <span class="urgent-badge ok">안전</span>
                <p class="urgent-txt">미세먼지 노출 시 철저한 위생관리로 건강관리에 유의바랍니다.</p>
                <a href="#" class="krds-btn medium text">
					<span class="m-hide">자세히 보기</span>
					<i class="svg-icon ico-more"></i>
				</a>
            </div>
        </li>
        <li>
            <div class="urgent-ban">
                <span class="urgent-badge info">안내</span>
                <p class="urgent-txt">보다 안정적인 디지털정부기관 운영을 위한 시스템 점검을 진행합니다.</p>
                <a href="#" class="krds-btn medium text">
					<span class="m-hide">자세히 보기</span>
					<i class="svg-icon ico-more"></i>
				</a>
            </div>
        </li>
    </ul>
</div>
<!-- //긴급공지 -->