<!-- 원스톱서비스 & 복합 콘텐츠 -->
<div class="main-sect">
    <div class="inner">
        <div class="main-box-responsive type-wrap">
            <div class="d-auto">
                <div class="main-tit-wrap">
                    <h2 class="tit">원스톱서비스</h2>
                </div>

                <div class="in">
                    <div class="one-serv-wrap">
                        <div class="main-d-text">
                            <p class="cate">꾸러미 서비스</p>
                            <p class="tit">생활에 필요한 정보와 서비스를<br>쉽게 찾아보세요!</p>
                            <p class="txt">원스톱서비스, 생애주기별 서비스, 꾸러미 서비스등 간편한 서비스를
                                이용해보세요.</p>
                        </div>

                        <div class="main-d-links">
                            <a href="#" class="krds-btn medium text">보금자리 <i class="svg-icon ico-more"></i></a>
                            <a href="#" class="krds-btn medium text">가족안전 <i class="svg-icon ico-more"></i></a>
                            <a href="#" class="krds-btn medium text">동네할인 <i class="svg-icon ico-more"></i></a>
                            <a href="#" class="krds-btn medium text">나라지킴 <i class="svg-icon ico-more"></i></a>
                            <a href="#" class="krds-btn medium text">퇴직후 생활 <i class="svg-icon ico-more"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-fix">
                <div class="main-tit-wrap">
                    <h2 class="tit">복합 콘텐츠</h2>
                </div>

                <div class="in">
                    <div class="main-d-ban-swiper">
                        <div class="swiper">
                            <ul class="swiper-wrapper">
                                <li class="swiper-slide">
                                    <div class="text">
                                        <p class="cate">알아두면 좋은 정부서비스</p>
                                        <p class="tit">전기요금</p>
                                    </div>
                                    <div class="im">
                                        <img src="../../../resources/img/pattern/content/main_ico_battery_M.svg" alt="">
                                    </div>
                                </li>
                                <li class="swiper-slide">
                                    <div class="text">
                                        <p class="cate">알아두면 좋은 정부서비스</p>
                                        <p class="tit">전기요금</p>
                                    </div>
                                    <div class="im">
                                        <img src="../../../resources/img/pattern/content/main_ico_battery_M.svg" alt="">
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="swiper-indicator">
                            <div class="swiper-pagination"></div>
                            <div class="swiper-controller">
                                <button type="button" class="swiper-button-play">
                                    <span class="sr-only">슬라이드 재생</span>
                                </button>
                                <button type="button" class="swiper-button-stop">
                                    <span class="sr-only">슬라이드 멈춤</span>
                                </button>
                            </div>
                            <div class="swiper-navigation">
                                <button type="button" class="swiper-button-prev">
                                    <span class="sr-only">이전</span>
                                </button>
                                <button type="button" class="swiper-button-next">
                                    <span class="sr-only">다음</span>
                                </button>
                                <a href="#" class="swiper-button-more">
                                    <span class="sr-only">더 보기</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //원스톱서비스 & 복합 콘텐츠 -->

<script>
    const eleBanSwiper = new Swiper('.main-d-ban-swiper .swiper', {
        slidesPerView: 1,
        spaceBetween: 16,
        speed: 400,
        loop: true,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
            pauseOnMouseEnter: true,
        },
        navigation: {
            nextEl: '.main-d-ban-swiper .swiper-button-next',
            prevEl: '.main-d-ban-swiper .swiper-button-prev',
        },
        pagination: {
            el: ".main-d-ban-swiper .swiper-pagination",
            type: "fraction",
        },
    });
    const $eleBanSwiperPlay = document.querySelector('.main-d-ban-swiper .swiper-button-play');
    const $eleBanSwiperStop = document.querySelector('.main-d-ban-swiper .swiper-button-stop');

    $eleBanSwiperPlay.style.display = "none";

    $eleBanSwiperPlay.addEventListener("click", () => {
        eleBanSwiper.autoplay.start();
        $eleBanSwiperStop.style.display = "";
        $eleBanSwiperPlay.style.display = "none";
    });

    $eleBanSwiperStop.addEventListener("click", () => {
        eleBanSwiper.autoplay.stop();
        $eleBanSwiperStop.style.display = "none";
        $eleBanSwiperPlay.style.display = "";
    });
</script>