<!-- 이사 전 살던 곳 -->
<div class="txt-box bg-white coach-highligt">
    <!-- 따라하기 말풍선 -->
    <div class="coach-balloon">
        <h5 class="sr-only">따라하기 가이드</h5>
        <h6 class="coach-tit">1단계 : 이사 전 살던 곳</h6>
        <p class="desc">이사 전에 살던 곳의 주소를 선택 후 ‘주소 조회'를 해주세요</p>
        <div class="coach-controls">
            <div class="num">
                <span class="sr-only">현재 단계</span>
                <strong>1</strong>
                <span class="sr-only">총 단계</span>
                <span>4</span>
            </div>
            <div class="btn-wrap">
                <button type="button" class="btn sm btn-txt"><span>그만보기</span></button>
                <button type="button" class="btn sm tertiary"><span>다음으로</span></button>
            </div>
        </div>
    </div>
    <!--// 따라하기 말풍선 -->

    <h4 class="box-tit1">이사 전 살던 곳</h4>
    <div class="box-cnt">
        <!-- 이사 전에 살던 곳 주소(전출지) -->
        <div class="box-sec">
            <h5 class="box-tit2">이사 전에 살던 곳 주소(전출지)</h5>
            <div class="form-group">
                <div class="form-conts">
                    <div class="input-group m-column">
                        <select class="form-select" title="시 선택">
                            <option value="">시 선택</option>
                            <option value="">서울특별시</option>
                        </select>
                        <select class="form-select" title="구 선택">
                            <option value="">구 선택</option>
                            <option value="">성동구</option>
                        </select>
                        <button type=" button" class="btn secondary">주소 조회</button>
                    </div>
                </div>
            </div>
            <div class="form-addr-result" id="sch-result-addr" style="display: none">
                <ul class="info-ul">
                    <li>
                        <span class="key">기본주소</span>
                        <span class="value">서울특별시 성동구 아차산로17길 49, 성수 생각공장
                            데시앙플렉스</span>
                    </li>
                    <li>
                        <span class="key">상세주소</span>
                        <span class="value">1609, 1610호</span>
                    </li>
                </ul>
                <ul class="info-ul">
                    <li>
                        <span class="key">관할 읍·면사무소/동 주민센터</span>
                        <span class="value">화양제1동</span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- //이사 전에 살던 곳 주소(전출지) -->
    </div>
</div>
<!-- //이사 전 살던 곳 -->