<!-- table list -->
<div class="tbl-wrap">
	<table class="tbl col data">
		<caption>추가 민원 신청 여부 확인 표로 민원 신청인, 구분으로 구성되어있으며 민원 신청인인 전출지 전 세대주,새로운 세대주,전입지
			세대주로 구성되어 있음</caption>
		<colgroup>
			<col style="width: 30%;">
			<col>
		</colgroup>
		<thead>
		<tr>
			<th scope="col">민원 신청인</th>
			<th scope="col">구분</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th scope="row">전출지 전 세대주</th>
			<td>세대주가 아닌 세대원이 신청하면서 세대주(또는 미성년자)를 포함하여 이사하는 경우</td>
		</tr>
		<tr>
			<th scope="row">새로운 세대주</th>
			<td>세대주 변경이 있는 경우</td>
		</tr>
		<tr>
			<th scope="row">전입지 세대주</th>
			<td>이사온 곳에 기존에 살고 있는 세대주가 있는 경우</td>
		</tr>
		</tbody>
	</table>
</div>
<!-- //table list -->