<!-- accordion -->
<div class="krds-accordion">
	<div class="accordion-item">
		<h2 class="accordion-header"><button type="button" id="accordionHeaderSample01" class="btn-accordion" aria-controls="accordionCollapseSample01">Accordion Title 1</button></h2>
		<div id="accordionCollapseSample01" class="accordion-collapse collapse" aria-labelledby="accordionHeaderSample01">
			<div class="accordion-body">
				<!-- accordion contents -->
				Accordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion Contents
				<!-- //accordion contents -->
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header"><button type="button" id="accordionHeaderSample02" class="btn-accordion" aria-controls="accordionCollapseSample02">Accordion Title 1</button></h2>
		<div id="accordionCollapseSample02" class="accordion-collapse collapse" aria-labelledby="accordionHeaderSample02">
			<div class="accordion-body">
				<!-- accordion contents -->
				Accordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion ContentsAccordion Contents
				<!-- //accordion contents -->
			</div>
		</div>
	</div>
</div>
<!-- //accordion -->