@charset "utf-8";

$icon-1 : icon(check);
$icon-2 : icon(check, "A7C4F7");
$icon-3 : icon(check, "var(--#{$prefix}colors-warning)");

/* main */
.icon {
  display: inline-block;
  width: 40px;
  height: 40px;

  &.check {
    background-image: $icon-1;
  }
  &.check2 {
    background-image: $icon-2;
  }
  &.check3 {
    background-image: $icon-3;
  }
}
