
@charset "utf-8";


//prefix
$prefix: krds- !default;

//transition
$transition-base: .4s ease-in-out !default;
$transition-fade: opacity .4s linear !default;
$transition-collapse: max-height .4s ease !default;
$transition-collapse-width: width .4s ease !default;

//box shadow
$box-shadow-base: 2px 2px 2px 0px rgba(0, 0, 0, 0.15) !default;


//base
$base: (
  base-light-color-primary-5: #1f0f01ff,
  base-light-color-primary-10: #371b04ff,
  base-light-color-primary-20: #522907ff,
  base-light-color-primary-30: #7b3f0bff,
  base-light-color-primary-40: #b45b13ff,
  base-light-color-primary-50: #f58220ff,
  base-light-color-primary-60: #ffa050ff,
  base-light-color-primary-70: #ffc797ff,
  base-light-color-primary-80: #ffe2c9ff,
  base-light-color-primary-90: #fcf2e6ff,
  base-light-color-primary-95: #fff9f4ff,
  base-light-color-secondary-5: #041322ff,
  base-light-color-secondary-10: #032546ff,
  base-light-color-secondary-20: #043b72ff,
  base-light-color-secondary-30: #054a8eff,
  base-light-color-secondary-40: #1b68b5ff,
  base-light-color-secondary-50: #3485d7ff,
  base-light-color-secondary-60: #78b2ebff,
  base-light-color-secondary-70: #b3d6f9ff,
  base-light-color-secondary-80: #d6eaffff,
  base-light-color-secondary-90: #e5f2ffff,
  base-light-color-secondary-95: #f7fbffff,
  base-light-color-gray-0: #000000ff,
  base-light-color-gray-5: #19191aff,
  base-light-color-gray-10: #313233ff,
  base-light-color-gray-20: #474747ff,
  base-light-color-gray-30: #636566ff,
  base-light-color-gray-40: #959799ff,
  base-light-color-gray-50: #b5b9bcff,
  base-light-color-gray-60: #caced1ff,
  base-light-color-gray-70: #dfe2e5ff,
  base-light-color-gray-80: #e8ebedff,
  base-light-color-gray-90: #eff2f4ff,
  base-light-color-gray-95: #f7f9faff,
  base-light-color-gray-100: #ffffffff,
  base-light-color-stock-red: #e05c60ff,
  base-light-color-stock-red-dark: #c75255ff,
  base-light-color-stock-red-light: #f9e3e3ff,
  base-light-color-stock-red-bright: #fff8f8ff,
  base-light-color-stock-blue: #4789e5ff,
  base-light-color-stock-blue-dark: #3f7accff,
  base-light-color-stock-blue-light: #e5f2ffff,
  base-light-color-stock-blue-bright: #f7fbffff,
  base-light-color-stock-cancel: #983ff1ff,
  base-light-color-stock-cancel-dark: #642e99ff,
  base-light-color-stock-cancel-bright: #f9f2ffff,
  base-light-color-stock-correction: #54803fff,
  base-light-color-stock-correction-dark: #436632ff,
  base-light-color-stock-correction-light: #dde6d9ff,
  base-light-color-stock-correction-bright: #eef2ecff,
  base-light-color-stock-nochange: #313233ff,
  base-light-color-stock-nochange-light: #959799ff,
  base-light-color-stock-naver: #00c73cff,
  base-light-color-stock-naver-light: #e6f8efff,
  base-light-color-stock-cobaltblue: #5564edff,
  base-light-color-stock-cobaltblue-light: #f0f1fcff,
  base-light-color-stock-summary-dark: #48535bff,
  base-light-color-stock-summary-light: #5a646bff,
  base-light-color-interaction-error: #e52017ff,
  base-light-color-interaction-success: #4880eeff,
  base-light-color-chart-blue-dark: #043b72ff,
  base-light-color-chart-blue: #0086b8ff,
  base-light-color-chart-blue-light-1: #00a9ceff,
  base-light-color-chart-blue-light-2: #22b8d8ff,
  base-light-color-chart-blue-light-3: #3fc7e5ff,
  base-light-color-chart-blue-bright: #8dc8e8ff,
  base-light-color-chart-gray: #84888bff,
  base-light-color-chart-gray-light-1: #949799ff,
  base-light-color-chart-gray-light-2: #b5b9bcff,
  base-light-color-chart-gray-light3: #c6c9ccff,
  base-light-color-chart-gray-bright: #d6d8daff,
  base-dark-color-primary-5: #1f0f01ff,
  base-dark-color-primary-10: #371b04ff,
  base-dark-color-primary-20: #522907ff,
  base-dark-color-primary-30: #7b3f0bff,
  base-dark-color-primary-40: #b45b13ff,
  base-dark-color-primary-50: #f58220ff,
  base-dark-color-primary-60: #ffa050ff,
  base-dark-color-primary-70: #ffc797ff,
  base-dark-color-primary-80: #ffe2c9ff,
  base-dark-color-primary-90: #fcf2e6ff,
  base-dark-color-primary-95: #fff9f4ff,
  base-dark-color-secondary-5: #041322ff,
  base-dark-color-secondary-10: #032546ff,
  base-dark-color-secondary-20: #043b72ff,
  base-dark-color-secondary-30: #054a8eff,
  base-dark-color-secondary-40: #1b68b5ff,
  base-dark-color-secondary-50: #3485d7ff,
  base-dark-color-secondary-60: #78b2ebff,
  base-dark-color-secondary-70: #b3d6f9ff,
  base-dark-color-secondary-80: #d6eaffff,
  base-dark-color-secondary-90: #e5f2ffff,
  base-dark-color-secondary-95: #f7fbffff,
  base-dark-color-gray-0: #ffffffff,
  base-dark-color-gray-5: #dfe2e5ff,
  base-dark-color-gray-10: #b5b9bcff,
  base-dark-color-gray-20: #a4a6a8ff,
  base-dark-color-gray-30: #959799ff,
  base-dark-color-gray-40: #636566ff,
  base-dark-color-gray-50: #454545ff,
  base-dark-color-gray-60: #323233ff,
  base-dark-color-gray-70: #2d2d2eff,
  base-dark-color-gray-80: #282829ff,
  base-dark-color-gray-90: #202121ff,
  base-dark-color-gray-95: #19191aff,
  base-dark-color-gray-100: #0a0a0aff,
  base-dark-color-stock-red: #e05c60ff,
  base-dark-color-stock-red-dark: #c75255ff,
  base-dark-color-stock-red-light: #2e1718ff,
  base-dark-color-stock-red-bright: #211111ff,
  base-dark-color-stock-blue: #4789e5ff,
  base-dark-color-stock-blue-dark: #3f7accff,
  base-dark-color-stock-blue-light: #17222eff,
  base-dark-color-stock-blue-bright: #111921ff,
  base-dark-color-stock-cancel: #983ff1ff,
  base-dark-color-stock-cancel-dark: #642e99ff,
  base-dark-color-stock-cancel-bright: #191121ff,
  base-dark-color-stock-correction: #54803fff,
  base-dark-color-stock-correction-dark: #436632ff,
  base-dark-color-stock-correction-light: #222820ff,
  base-dark-color-stock-correction-bright: #192215ff,
  base-dark-color-stock-nochange: #b5b9bcff,
  base-dark-color-stock-nochange-light: #636566ff,
  base-dark-color-stock-naver: #00c73cff,
  base-dark-color-stock-naver-light: #02331cff,
  base-dark-color-stock-cobaltblue: #5564edff,
  base-dark-color-stock-cobaltblue-light: #151745ff,
  base-dark-color-stock-summary-dark: #48535bff,
  base-dark-color-stock-summary-light: #5a646bff,
  base-dark-color-interaction-error: #e52017ff,
  base-dark-color-interaction-success: #4880eeff,
  base-dark-color-chart-blue-dark: #043b72ff,
  base-dark-color-chart-blue: #0086b8ff,
  base-dark-color-chart-blue-light-1: #00a9ceff,
  base-dark-color-chart-blue-light-2: #22b8d8ff,
  base-dark-color-chart-blue-light-3: #3fc7e5ff,
  base-dark-color-chart-blue-bright: #8dc8e8ff,
  base-dark-color-chart-gray: #84888bff,
  base-dark-color-chart-gray-light-1: #949799ff,
  base-dark-color-chart-gray-light-2: #b5b9bcff,
  base-dark-color-chart-gray-light3: #c6c9ccff,
  base-dark-color-chart-gray-bright: #d6d8daff,
)!default;

//semantic
$semantic: (
  semantic-color-divider-black: #959799ff,
  semantic-color-divider-dark: #2d2d2eff,
  semantic-color-divider-basic: #202121ff,
  semantic-color-divider-light: #19191aff,
  semantic-color-text-primary: #f58220ff,
  semantic-color-text-blue: #4789e5ff,
  semantic-color-text-red: #e05c60ff,
  semantic-color-text-strong: #dfe2e5ff,
  semantic-color-text-basic: #b5b9bcff,
  semantic-color-text-sub: #959799ff,
  semantic-color-text-info: #636566ff,
  semantic-color-text-disable: #454545ff,
  semantic-color-text-white: #0a0a0aff,
  semantic-color-text-white-100: #ffffffff,
  semantic-color-text-white-80: #ffffffcc,
  semantic-color-text-white-60: #ffffff99,
  semantic-color-text-white-40: #ffffff66,
  semantic-color-text-white-20: #ffffff33,
  semantic-color-text-white-10: #ffffff1a,
  semantic-color-bg-black: #dfe2e5ff,
  semantic-color-bg-primary: #f58220ff,
  semantic-color-bg-box-line-light: #202121ff,
  semantic-color-bg-box-line-dark: #2d2d2eff,
  semantic-color-bg-box-bg: #202121ff,
  semantic-color-bg-bg: #19191aff,
  semantic-color-bg-white: #0a0a0aff,
  semantic-color-bg-white-80: #ffffffcc,
  semantic-color-bg-white-60: #ffffff99,
  semantic-color-bg-dim: #00000066,
  semantic-color-bg-summary-light: #5a646bff,
  semantic-color-bg-summary-dark: #48535bff,
  semantic-color-icon-black: #b5b9bcff,
  semantic-color-icon-gray-dark: #959799ff,
  semantic-color-icon-gray-light: #454545ff,
  semantic-color-icon-white: #0a0a0aff,
  semantic-color-icon-white-100: #ffffffff,
  semantic-color-icon-white-80: #ffffffcc,
  semantic-color-icon-white-40: #ffffff66,
  semantic-color-icon-primary: #f58220ff,
  semantic-color-controler-primary: #f58220ff,
  semantic-color-controler-selected: #b5b9bcff,
  semantic-color-controler-unselected: #454545ff,
  semantic-color-controler-disabled-bg: #202121ff,
  semantic-color-controler-disabled: #2d2d2eff,
  semantic-color-controler-white: #0a0a0aff,
  semantic-color-controler-white-100: #ffffffff,
  semantic-color-button-primary: #f58220ff,
  semantic-color-button-primary-pressed: #b45b13ff,
  semantic-color-button-secondary: #282829ff,
  semantic-color-button-secondary-pressed: #454545ff,
  semantic-color-button-tertiary: #0a0a0aff,
  semantic-color-button-tertiary-pressed: #19191aff,
  semantic-color-button-tertiary-line: #454545ff,
  semantic-color-button-tertiary-pressed-line: #b5b9bcff,
  semantic-color-button-stock-blue: #4789e5ff,
  semantic-color-button-stock-blue-pressed: #3f7accff,
  semantic-color-button-stock-red: #e05c60ff,
  semantic-color-button-stock-red-pressed: #c75255ff,
  semantic-color-button-stock-cancle: #983ff1ff,
  semantic-color-button-stock-cancel-pressed: #642e99ff,
  semantic-color-button-stock-correction: #54803fff,
  semantic-color-button-stock-correction-pressed: #436632ff,
  semantic-color-button-disable: #2d2d2eff,
  semantic-color-button-white-10: #ffffff1a,
  semantic-color-badge-primary: #f58220ff,
  semantic-color-badge-secondary: #636566ff,
  semantic-color-badge-error: #e52017ff,
  semantic-color-badge-stock-red: #e05c60ff,
  semantic-color-badge-stock-blue: #4789e5ff,
  semantic-color-badge-red: #e52017ff,
  semantic-color-badge-red-light: #2e1718ff,
  semantic-color-badge-yellow: #f58220ff,
  semantic-color-badge-yellow-light: #fcf2e6ff,
  semantic-color-badge-green: #54803fff,
  semantic-color-badge-green-light: #222820ff,
  semantic-color-badge-blue: #4789e5ff,
  semantic-color-badge-blue-light: #17222eff,
  semantic-color-badge-purple: #983ff1ff,
  semantic-color-badge-purple-light: #191121ff,
  semantic-color-badge-gray: #959799ff,
  semantic-color-badge-gray-light: #202121ff,
  semantic-color-badge-gray-bright: #19191aff,
  semantic-color-badge-black: #b5b9bcff,
)!default;

//font-test
$font-test: (
  font-test-helvetica-neue-small: 12,
  font-test-helvetica-neue-medium: 15,
  font-test-arial-small: 13,
  font-test-arial-medium: 16,
)!default;

//spacing
$spacing: (
  spacing-pc-0: 0,
  spacing-pc-1: 2,
  spacing-pc-2: 4,
  spacing-pc-3: 8,
  spacing-pc-4: 12,
  spacing-pc-5: 16,
  spacing-pc-6: 20,
  spacing-pc-7: 24,
  spacing-pc-8: 28,
  spacing-pc-9: 36,
  spacing-pc-10: 40,
  spacing-pc-11: 48,
  spacing-mobile-0: 0,
  spacing-mobile-1: 2,
  spacing-mobile-2: 4,
  spacing-mobile-3: 8,
  spacing-mobile-4: 10,
  spacing-mobile-5: 12,
  spacing-mobile-6: 16,
  spacing-mobile-7: 20,
  spacing-mobile-8: 24,
  spacing-mobile-9: 28,
  spacing-mobile-10: 36,
  spacing-mobile-11: 40,
)!default;

//typography
$typography: (
  typography-title-xlarge-bold-fontSize: 18,
  typography-title-xlarge-bold-textDecoration: none,
  typography-title-xlarge-bold-fontFamily: Sandoll GothicNeo1,
  typography-title-xlarge-bold-fontWeight: 400,
  typography-title-xlarge-bold-fontStyle: normal,
  typography-title-xlarge-bold-fontStretch: normal,
  typography-title-xlarge-bold-letterSpacing: 0,
  typography-title-xlarge-bold-lineHeight: 28,
  typography-title-xlarge-bold-paragraphIndent: 0,
  typography-title-xlarge-bold-paragraphSpacing: 0,
  typography-title-xlarge-bold-textCase: none,
  typography-title-xlarge-fontSize: 18,
  typography-title-xlarge-textDecoration: none,
  typography-title-xlarge-fontFamily: Sandoll GothicNeo1,
  typography-title-xlarge-fontWeight: 400,
  typography-title-xlarge-fontStyle: normal,
  typography-title-xlarge-fontStretch: normal,
  typography-title-xlarge-letterSpacing: 0,
  typography-title-xlarge-lineHeight: 28,
  typography-title-xlarge-paragraphIndent: 0,
  typography-title-xlarge-paragraphSpacing: 0,
  typography-title-xlarge-textCase: none,
  typography-title-xlarge-light-fontSize: 18,
  typography-title-xlarge-light-textDecoration: none,
  typography-title-xlarge-light-fontFamily: Sandoll GothicNeo1,
  typography-title-xlarge-light-fontWeight: 400,
  typography-title-xlarge-light-fontStyle: normal,
  typography-title-xlarge-light-fontStretch: normal,
  typography-title-xlarge-light-letterSpacing: 0,
  typography-title-xlarge-light-lineHeight: 28,
  typography-title-xlarge-light-paragraphIndent: 0,
  typography-title-xlarge-light-paragraphSpacing: 0,
  typography-title-xlarge-light-textCase: none,
  typography-title-large-bold-fontSize: 16,
  typography-title-large-bold-textDecoration: none,
  typography-title-large-bold-fontFamily: Sandoll GothicNeo1,
  typography-title-large-bold-fontWeight: 400,
  typography-title-large-bold-fontStyle: normal,
  typography-title-large-bold-fontStretch: normal,
  typography-title-large-bold-letterSpacing: 0,
  typography-title-large-bold-lineHeight: 24,
  typography-title-large-bold-paragraphIndent: 0,
  typography-title-large-bold-paragraphSpacing: 0,
  typography-title-large-bold-textCase: none,
  typography-title-large-fontSize: 16,
  typography-title-large-textDecoration: none,
  typography-title-large-fontFamily: Sandoll GothicNeo1,
  typography-title-large-fontWeight: 400,
  typography-title-large-fontStyle: normal,
  typography-title-large-fontStretch: normal,
  typography-title-large-letterSpacing: 0,
  typography-title-large-lineHeight: 24,
  typography-title-large-paragraphIndent: 0,
  typography-title-large-paragraphSpacing: 0,
  typography-title-large-textCase: none,
  typography-title-large-light-fontSize: 16,
  typography-title-large-light-textDecoration: none,
  typography-title-large-light-fontFamily: Sandoll GothicNeo1,
  typography-title-large-light-fontWeight: 400,
  typography-title-large-light-fontStyle: normal,
  typography-title-large-light-fontStretch: normal,
  typography-title-large-light-letterSpacing: 0,
  typography-title-large-light-lineHeight: 24,
  typography-title-large-light-paragraphIndent: 0,
  typography-title-large-light-paragraphSpacing: 0,
  typography-title-large-light-textCase: none,
  typography-title-medium-bold-fontSize: 14,
  typography-title-medium-bold-textDecoration: none,
  typography-title-medium-bold-fontFamily: Sandoll GothicNeo1,
  typography-title-medium-bold-fontWeight: 400,
  typography-title-medium-bold-fontStyle: normal,
  typography-title-medium-bold-fontStretch: normal,
  typography-title-medium-bold-letterSpacing: 0,
  typography-title-medium-bold-lineHeight: 20,
  typography-title-medium-bold-paragraphIndent: 0,
  typography-title-medium-bold-paragraphSpacing: 0,
  typography-title-medium-bold-textCase: none,
  typography-title-medium-fontSize: 14,
  typography-title-medium-textDecoration: none,
  typography-title-medium-fontFamily: Sandoll GothicNeo1,
  typography-title-medium-fontWeight: 400,
  typography-title-medium-fontStyle: normal,
  typography-title-medium-fontStretch: normal,
  typography-title-medium-letterSpacing: 0,
  typography-title-medium-lineHeight: 20,
  typography-title-medium-paragraphIndent: 0,
  typography-title-medium-paragraphSpacing: 0,
  typography-title-medium-textCase: none,
  typography-title-medium-light-fontSize: 14,
  typography-title-medium-light-textDecoration: none,
  typography-title-medium-light-fontFamily: Sandoll GothicNeo1,
  typography-title-medium-light-fontWeight: 400,
  typography-title-medium-light-fontStyle: normal,
  typography-title-medium-light-fontStretch: normal,
  typography-title-medium-light-letterSpacing: 0,
  typography-title-medium-light-lineHeight: 20,
  typography-title-medium-light-paragraphIndent: 0,
  typography-title-medium-light-paragraphSpacing: 0,
  typography-title-medium-light-textCase: none,
  typography-body-xlarge-bold-fontSize: 18,
  typography-body-xlarge-bold-textDecoration: none,
  typography-body-xlarge-bold-fontFamily: Sandoll GothicNeo1,
  typography-body-xlarge-bold-fontWeight: 400,
  typography-body-xlarge-bold-fontStyle: normal,
  typography-body-xlarge-bold-fontStretch: normal,
  typography-body-xlarge-bold-letterSpacing: 0,
  typography-body-xlarge-bold-lineHeight: 28,
  typography-body-xlarge-bold-paragraphIndent: 0,
  typography-body-xlarge-bold-paragraphSpacing: 0,
  typography-body-xlarge-bold-textCase: none,
  typography-body-xlarge-fontSize: 18,
  typography-body-xlarge-textDecoration: none,
  typography-body-xlarge-fontFamily: Sandoll GothicNeo1,
  typography-body-xlarge-fontWeight: 400,
  typography-body-xlarge-fontStyle: normal,
  typography-body-xlarge-fontStretch: normal,
  typography-body-xlarge-letterSpacing: 0,
  typography-body-xlarge-lineHeight: 28,
  typography-body-xlarge-paragraphIndent: 0,
  typography-body-xlarge-paragraphSpacing: 0,
  typography-body-xlarge-textCase: none,
  typography-body-xlarge-light-fontSize: 18,
  typography-body-xlarge-light-textDecoration: none,
  typography-body-xlarge-light-fontFamily: Sandoll GothicNeo1,
  typography-body-xlarge-light-fontWeight: 400,
  typography-body-xlarge-light-fontStyle: normal,
  typography-body-xlarge-light-fontStretch: normal,
  typography-body-xlarge-light-letterSpacing: 0,
  typography-body-xlarge-light-lineHeight: 28,
  typography-body-xlarge-light-paragraphIndent: 0,
  typography-body-xlarge-light-paragraphSpacing: 0,
  typography-body-xlarge-light-textCase: none,
  typography-body-large-bold-fontSize: 16,
  typography-body-large-bold-textDecoration: none,
  typography-body-large-bold-fontFamily: Sandoll GothicNeo1,
  typography-body-large-bold-fontWeight: 400,
  typography-body-large-bold-fontStyle: normal,
  typography-body-large-bold-fontStretch: normal,
  typography-body-large-bold-letterSpacing: 0,
  typography-body-large-bold-lineHeight: 24,
  typography-body-large-bold-paragraphIndent: 0,
  typography-body-large-bold-paragraphSpacing: 0,
  typography-body-large-bold-textCase: none,
  typography-body-large-fontSize: 16,
  typography-body-large-textDecoration: none,
  typography-body-large-fontFamily: Sandoll GothicNeo1,
  typography-body-large-fontWeight: 400,
  typography-body-large-fontStyle: normal,
  typography-body-large-fontStretch: normal,
  typography-body-large-letterSpacing: 0,
  typography-body-large-lineHeight: 24,
  typography-body-large-paragraphIndent: 0,
  typography-body-large-paragraphSpacing: 0,
  typography-body-large-textCase: none,
  typography-body-large-light-fontSize: 16,
  typography-body-large-light-textDecoration: none,
  typography-body-large-light-fontFamily: Sandoll GothicNeo1,
  typography-body-large-light-fontWeight: 400,
  typography-body-large-light-fontStyle: normal,
  typography-body-large-light-fontStretch: normal,
  typography-body-large-light-letterSpacing: 0,
  typography-body-large-light-lineHeight: 24,
  typography-body-large-light-paragraphIndent: 0,
  typography-body-large-light-paragraphSpacing: 0,
  typography-body-large-light-textCase: none,
  typography-body-medium-bold-fontSize: 14,
  typography-body-medium-bold-textDecoration: none,
  typography-body-medium-bold-fontFamily: Sandoll GothicNeo1,
  typography-body-medium-bold-fontWeight: 400,
  typography-body-medium-bold-fontStyle: normal,
  typography-body-medium-bold-fontStretch: normal,
  typography-body-medium-bold-letterSpacing: 0,
  typography-body-medium-bold-lineHeight: 20,
  typography-body-medium-bold-paragraphIndent: 0,
  typography-body-medium-bold-paragraphSpacing: 0,
  typography-body-medium-bold-textCase: none,
  typography-body-medium-fontSize: 14,
  typography-body-medium-textDecoration: none,
  typography-body-medium-fontFamily: Sandoll GothicNeo1,
  typography-body-medium-fontWeight: 400,
  typography-body-medium-fontStyle: normal,
  typography-body-medium-fontStretch: normal,
  typography-body-medium-letterSpacing: 0,
  typography-body-medium-lineHeight: 20,
  typography-body-medium-paragraphIndent: 0,
  typography-body-medium-paragraphSpacing: 0,
  typography-body-medium-textCase: none,
  typography-body-medium-light-fontSize: 14,
  typography-body-medium-light-textDecoration: none,
  typography-body-medium-light-fontFamily: Sandoll GothicNeo1,
  typography-body-medium-light-fontWeight: 400,
  typography-body-medium-light-fontStyle: normal,
  typography-body-medium-light-fontStretch: normal,
  typography-body-medium-light-letterSpacing: 0,
  typography-body-medium-light-lineHeight: 20,
  typography-body-medium-light-paragraphIndent: 0,
  typography-body-medium-light-paragraphSpacing: 0,
  typography-body-medium-light-textCase: none,
  typography-body-small-bold-fontSize: 13,
  typography-body-small-bold-textDecoration: none,
  typography-body-small-bold-fontFamily: Sandoll GothicNeo1,
  typography-body-small-bold-fontWeight: 400,
  typography-body-small-bold-fontStyle: normal,
  typography-body-small-bold-fontStretch: normal,
  typography-body-small-bold-letterSpacing: 0,
  typography-body-small-bold-lineHeight: 18,
  typography-body-small-bold-paragraphIndent: 0,
  typography-body-small-bold-paragraphSpacing: 0,
  typography-body-small-bold-textCase: none,
  typography-body-small-fontSize: 13,
  typography-body-small-textDecoration: none,
  typography-body-small-fontFamily: Sandoll GothicNeo1,
  typography-body-small-fontWeight: 400,
  typography-body-small-fontStyle: normal,
  typography-body-small-fontStretch: normal,
  typography-body-small-letterSpacing: 0,
  typography-body-small-lineHeight: 18,
  typography-body-small-paragraphIndent: 0,
  typography-body-small-paragraphSpacing: 0,
  typography-body-small-textCase: none,
  typography-body-small-light-fontSize: 13,
  typography-body-small-light-textDecoration: none,
  typography-body-small-light-fontFamily: Sandoll GothicNeo1,
  typography-body-small-light-fontWeight: 400,
  typography-body-small-light-fontStyle: normal,
  typography-body-small-light-fontStretch: normal,
  typography-body-small-light-letterSpacing: 0,
  typography-body-small-light-lineHeight: 18,
  typography-body-small-light-paragraphIndent: 0,
  typography-body-small-light-paragraphSpacing: 0,
  typography-body-small-light-textCase: none,
  typography-body-xsmall-bold-fontSize: 12,
  typography-body-xsmall-bold-textDecoration: none,
  typography-body-xsmall-bold-fontFamily: Sandoll GothicNeo1,
  typography-body-xsmall-bold-fontWeight: 400,
  typography-body-xsmall-bold-fontStyle: normal,
  typography-body-xsmall-bold-fontStretch: normal,
  typography-body-xsmall-bold-letterSpacing: 0,
  typography-body-xsmall-bold-lineHeight: 16,
  typography-body-xsmall-bold-paragraphIndent: 0,
  typography-body-xsmall-bold-paragraphSpacing: 0,
  typography-body-xsmall-bold-textCase: none,
  typography-body-xsmall-fontSize: 12,
  typography-body-xsmall-textDecoration: none,
  typography-body-xsmall-fontFamily: Sandoll GothicNeo1,
  typography-body-xsmall-fontWeight: 400,
  typography-body-xsmall-fontStyle: normal,
  typography-body-xsmall-fontStretch: normal,
  typography-body-xsmall-letterSpacing: 0,
  typography-body-xsmall-lineHeight: 16,
  typography-body-xsmall-paragraphIndent: 0,
  typography-body-xsmall-paragraphSpacing: 0,
  typography-body-xsmall-textCase: none,
  typography-body-xsmall-light-fontSize: 12,
  typography-body-xsmall-light-textDecoration: none,
  typography-body-xsmall-light-fontFamily: Sandoll GothicNeo1,
  typography-body-xsmall-light-fontWeight: 400,
  typography-body-xsmall-light-fontStyle: normal,
  typography-body-xsmall-light-fontStretch: normal,
  typography-body-xsmall-light-letterSpacing: 0,
  typography-body-xsmall-light-lineHeight: 16,
  typography-body-xsmall-light-paragraphIndent: 0,
  typography-body-xsmall-light-paragraphSpacing: 0,
  typography-body-xsmall-light-textCase: none,
  typography-body-tiny-fontSize: 10,
  typography-body-tiny-textDecoration: none,
  typography-body-tiny-fontFamily: Sandoll GothicNeo1,
  typography-body-tiny-fontWeight: 400,
  typography-body-tiny-fontStyle: normal,
  typography-body-tiny-fontStretch: normal,
  typography-body-tiny-letterSpacing: 0,
  typography-body-tiny-lineHeight: 12,
  typography-body-tiny-paragraphIndent: 0,
  typography-body-tiny-paragraphSpacing: 0,
  typography-body-tiny-textCase: none,
  typography-body-tiny-light-fontSize: 10,
  typography-body-tiny-light-textDecoration: none,
  typography-body-tiny-light-fontFamily: Sandoll GothicNeo1,
  typography-body-tiny-light-fontWeight: 400,
  typography-body-tiny-light-fontStyle: normal,
  typography-body-tiny-light-fontStretch: normal,
  typography-body-tiny-light-letterSpacing: 0,
  typography-body-tiny-light-lineHeight: 12,
  typography-body-tiny-light-paragraphIndent: 0,
  typography-body-tiny-light-paragraphSpacing: 0,
  typography-body-tiny-light-textCase: none,
  typography-semantic-button-large-fontSize: 16,
  typography-semantic-button-large-textDecoration: none,
  typography-semantic-button-large-fontFamily: Sandoll GothicNeo1,
  typography-semantic-button-large-fontWeight: 400,
  typography-semantic-button-large-fontStyle: normal,
  typography-semantic-button-large-fontStretch: normal,
  typography-semantic-button-large-letterSpacing: 0,
  typography-semantic-button-large-lineHeight: 24,
  typography-semantic-button-large-paragraphIndent: 0,
  typography-semantic-button-large-paragraphSpacing: 0,
  typography-semantic-button-large-textCase: none,
  typography-semantic-button-medium-fontSize: 14,
  typography-semantic-button-medium-textDecoration: none,
  typography-semantic-button-medium-fontFamily: Sandoll GothicNeo1,
  typography-semantic-button-medium-fontWeight: 400,
  typography-semantic-button-medium-fontStyle: normal,
  typography-semantic-button-medium-fontStretch: normal,
  typography-semantic-button-medium-letterSpacing: 0,
  typography-semantic-button-medium-lineHeight: 20,
  typography-semantic-button-medium-paragraphIndent: 0,
  typography-semantic-button-medium-paragraphSpacing: 0,
  typography-semantic-button-medium-textCase: none,
  typography-semantic-button-small-fontSize: 13,
  typography-semantic-button-small-textDecoration: none,
  typography-semantic-button-small-fontFamily: Sandoll GothicNeo1,
  typography-semantic-button-small-fontWeight: 400,
  typography-semantic-button-small-fontStyle: normal,
  typography-semantic-button-small-fontStretch: normal,
  typography-semantic-button-small-letterSpacing: 0,
  typography-semantic-button-small-lineHeight: 18,
  typography-semantic-button-small-paragraphIndent: 0,
  typography-semantic-button-small-paragraphSpacing: 0,
  typography-semantic-button-small-textCase: none,
  typography-semantic-button-xsmall-fontSize: 12,
  typography-semantic-button-xsmall-textDecoration: none,
  typography-semantic-button-xsmall-fontFamily: Sandoll GothicNeo1,
  typography-semantic-button-xsmall-fontWeight: 400,
  typography-semantic-button-xsmall-fontStyle: normal,
  typography-semantic-button-xsmall-fontStretch: normal,
  typography-semantic-button-xsmall-letterSpacing: 0,
  typography-semantic-button-xsmall-lineHeight: 16,
  typography-semantic-button-xsmall-paragraphIndent: 0,
  typography-semantic-button-xsmall-paragraphSpacing: 0,
  typography-semantic-button-xsmall-textCase: none,
  typography-semantic-input-large-placeholder-on-fontSize: 16,
  typography-semantic-input-large-placeholder-on-textDecoration: none,
  typography-semantic-input-large-placeholder-on-fontFamily: Sandoll GothicNeo1,
  typography-semantic-input-large-placeholder-on-fontWeight: 400,
  typography-semantic-input-large-placeholder-on-fontStyle: normal,
  typography-semantic-input-large-placeholder-on-fontStretch: normal,
  typography-semantic-input-large-placeholder-on-letterSpacing: 0,
  typography-semantic-input-large-placeholder-on-lineHeight: 24,
  typography-semantic-input-large-placeholder-on-paragraphIndent: 0,
  typography-semantic-input-large-placeholder-on-paragraphSpacing: 0,
  typography-semantic-input-large-placeholder-on-textCase: none,
  typography-semantic-input-large-placeholder-off-fontSize: 16,
  typography-semantic-input-large-placeholder-off-textDecoration: none,
  typography-semantic-input-large-placeholder-off-fontFamily: Sandoll GothicNeo1,
  typography-semantic-input-large-placeholder-off-fontWeight: 400,
  typography-semantic-input-large-placeholder-off-fontStyle: normal,
  typography-semantic-input-large-placeholder-off-fontStretch: normal,
  typography-semantic-input-large-placeholder-off-letterSpacing: 0,
  typography-semantic-input-large-placeholder-off-lineHeight: 24,
  typography-semantic-input-large-placeholder-off-paragraphIndent: 0,
  typography-semantic-input-large-placeholder-off-paragraphSpacing: 0,
  typography-semantic-input-large-placeholder-off-textCase: none,
  typography-semantic-input-medium-placeholder-on-fontSize: 14,
  typography-semantic-input-medium-placeholder-on-textDecoration: none,
  typography-semantic-input-medium-placeholder-on-fontFamily: Sandoll GothicNeo1,
  typography-semantic-input-medium-placeholder-on-fontWeight: 400,
  typography-semantic-input-medium-placeholder-on-fontStyle: normal,
  typography-semantic-input-medium-placeholder-on-fontStretch: normal,
  typography-semantic-input-medium-placeholder-on-letterSpacing: 0,
  typography-semantic-input-medium-placeholder-on-lineHeight: 20,
  typography-semantic-input-medium-placeholder-on-paragraphIndent: 0,
  typography-semantic-input-medium-placeholder-on-paragraphSpacing: 0,
  typography-semantic-input-medium-placeholder-on-textCase: none,
  typography-semantic-input-medium-placeholder-off-fontSize: 14,
  typography-semantic-input-medium-placeholder-off-textDecoration: none,
  typography-semantic-input-medium-placeholder-off-fontFamily: Sandoll GothicNeo1,
  typography-semantic-input-medium-placeholder-off-fontWeight: 400,
  typography-semantic-input-medium-placeholder-off-fontStyle: normal,
  typography-semantic-input-medium-placeholder-off-fontStretch: normal,
  typography-semantic-input-medium-placeholder-off-letterSpacing: 0,
  typography-semantic-input-medium-placeholder-off-lineHeight: 20,
  typography-semantic-input-medium-placeholder-off-paragraphIndent: 0,
  typography-semantic-input-medium-placeholder-off-paragraphSpacing: 0,
  typography-semantic-input-medium-placeholder-off-textCase: none,
  typography-semantic-input-label-fontSize: 14,
  typography-semantic-input-label-textDecoration: none,
  typography-semantic-input-label-fontFamily: Sandoll GothicNeo1,
  typography-semantic-input-label-fontWeight: 400,
  typography-semantic-input-label-fontStyle: normal,
  typography-semantic-input-label-fontStretch: normal,
  typography-semantic-input-label-letterSpacing: 0,
  typography-semantic-input-label-lineHeight: 20,
  typography-semantic-input-label-paragraphIndent: 0,
  typography-semantic-input-label-paragraphSpacing: 0,
  typography-semantic-input-label-textCase: none,
  typography-semantic-input-hint-fontSize: 13,
  typography-semantic-input-hint-textDecoration: none,
  typography-semantic-input-hint-fontFamily: Sandoll GothicNeo1,
  typography-semantic-input-hint-fontWeight: 400,
  typography-semantic-input-hint-fontStyle: normal,
  typography-semantic-input-hint-fontStretch: normal,
  typography-semantic-input-hint-letterSpacing: 0,
  typography-semantic-input-hint-lineHeight: 18,
  typography-semantic-input-hint-paragraphIndent: 0,
  typography-semantic-input-hint-paragraphSpacing: 0,
  typography-semantic-input-hint-textCase: none,
  typography-semantic-input-caption-fontSize: 12,
  typography-semantic-input-caption-textDecoration: none,
  typography-semantic-input-caption-fontFamily: Sandoll GothicNeo1,
  typography-semantic-input-caption-fontWeight: 400,
  typography-semantic-input-caption-fontStyle: normal,
  typography-semantic-input-caption-fontStretch: normal,
  typography-semantic-input-caption-letterSpacing: 0,
  typography-semantic-input-caption-lineHeight: 16,
  typography-semantic-input-caption-paragraphIndent: 0,
  typography-semantic-input-caption-paragraphSpacing: 0,
  typography-semantic-input-caption-textCase: none,
  typography-semantic-table-label-fontSize: 12,
  typography-semantic-table-label-textDecoration: none,
  typography-semantic-table-label-fontFamily: Sandoll GothicNeo1,
  typography-semantic-table-label-fontWeight: 400,
  typography-semantic-table-label-fontStyle: normal,
  typography-semantic-table-label-fontStretch: normal,
  typography-semantic-table-label-letterSpacing: 0,
  typography-semantic-table-label-lineHeight: 16,
  typography-semantic-table-label-paragraphIndent: 0,
  typography-semantic-table-label-paragraphSpacing: 0,
  typography-semantic-table-label-textCase: none,
  typography-semantic-table-body-bold-fontSize: 14,
  typography-semantic-table-body-bold-textDecoration: none,
  typography-semantic-table-body-bold-fontFamily: Sandoll GothicNeo1,
  typography-semantic-table-body-bold-fontWeight: 400,
  typography-semantic-table-body-bold-fontStyle: normal,
  typography-semantic-table-body-bold-fontStretch: normal,
  typography-semantic-table-body-bold-letterSpacing: 0,
  typography-semantic-table-body-bold-lineHeight: 20,
  typography-semantic-table-body-bold-paragraphIndent: 0,
  typography-semantic-table-body-bold-paragraphSpacing: 0,
  typography-semantic-table-body-bold-textCase: none,
  typography-semantic-table-body-fontSize: 14,
  typography-semantic-table-body-textDecoration: none,
  typography-semantic-table-body-fontFamily: Sandoll GothicNeo1,
  typography-semantic-table-body-fontWeight: 400,
  typography-semantic-table-body-fontStyle: normal,
  typography-semantic-table-body-fontStretch: normal,
  typography-semantic-table-body-letterSpacing: 0,
  typography-semantic-table-body-lineHeight: 20,
  typography-semantic-table-body-paragraphIndent: 0,
  typography-semantic-table-body-paragraphSpacing: 0,
  typography-semantic-table-body-textCase: none,
  typography-semantic-table-sub-fontSize: 12,
  typography-semantic-table-sub-textDecoration: none,
  typography-semantic-table-sub-fontFamily: Sandoll GothicNeo1,
  typography-semantic-table-sub-fontWeight: 400,
  typography-semantic-table-sub-fontStyle: normal,
  typography-semantic-table-sub-fontStretch: normal,
  typography-semantic-table-sub-letterSpacing: 0,
  typography-semantic-table-sub-lineHeight: 16,
  typography-semantic-table-sub-paragraphIndent: 0,
  typography-semantic-table-sub-paragraphSpacing: 0,
  typography-semantic-table-sub-textCase: none,
  typography-semantic-table-caption-fontSize: 10,
  typography-semantic-table-caption-textDecoration: none,
  typography-semantic-table-caption-fontFamily: Sandoll GothicNeo1,
  typography-semantic-table-caption-fontWeight: 400,
  typography-semantic-table-caption-fontStyle: normal,
  typography-semantic-table-caption-fontStretch: normal,
  typography-semantic-table-caption-letterSpacing: 0,
  typography-semantic-table-caption-lineHeight: 12,
  typography-semantic-table-caption-paragraphIndent: 0,
  typography-semantic-table-caption-paragraphSpacing: 0,
  typography-semantic-table-caption-textCase: none,
  typography-semantic-navi-primary-fontSize: 14,
  typography-semantic-navi-primary-textDecoration: none,
  typography-semantic-navi-primary-fontFamily: Sandoll GothicNeo1,
  typography-semantic-navi-primary-fontWeight: 400,
  typography-semantic-navi-primary-fontStyle: normal,
  typography-semantic-navi-primary-fontStretch: normal,
  typography-semantic-navi-primary-letterSpacing: 0,
  typography-semantic-navi-primary-lineHeight: 20,
  typography-semantic-navi-primary-paragraphIndent: 0,
  typography-semantic-navi-primary-paragraphSpacing: 0,
  typography-semantic-navi-primary-textCase: none,
  typography-semantic-navi-secondary-on-fontSize: 13,
  typography-semantic-navi-secondary-on-textDecoration: none,
  typography-semantic-navi-secondary-on-fontFamily: Sandoll GothicNeo1,
  typography-semantic-navi-secondary-on-fontWeight: 400,
  typography-semantic-navi-secondary-on-fontStyle: normal,
  typography-semantic-navi-secondary-on-fontStretch: normal,
  typography-semantic-navi-secondary-on-letterSpacing: 0,
  typography-semantic-navi-secondary-on-lineHeight: 18,
  typography-semantic-navi-secondary-on-paragraphIndent: 0,
  typography-semantic-navi-secondary-on-paragraphSpacing: 0,
  typography-semantic-navi-secondary-on-textCase: none,
  typography-semantic-navi-secondary-off-fontSize: 13,
  typography-semantic-navi-secondary-off-textDecoration: none,
  typography-semantic-navi-secondary-off-fontFamily: Sandoll GothicNeo1,
  typography-semantic-navi-secondary-off-fontWeight: 400,
  typography-semantic-navi-secondary-off-fontStyle: normal,
  typography-semantic-navi-secondary-off-fontStretch: normal,
  typography-semantic-navi-secondary-off-letterSpacing: 0,
  typography-semantic-navi-secondary-off-lineHeight: 18,
  typography-semantic-navi-secondary-off-paragraphIndent: 0,
  typography-semantic-navi-secondary-off-paragraphSpacing: 0,
  typography-semantic-navi-secondary-off-textCase: none,
  typography-semantic-navi-bottom-on-fontSize: 10,
  typography-semantic-navi-bottom-on-textDecoration: none,
  typography-semantic-navi-bottom-on-fontFamily: Sandoll GothicNeo1,
  typography-semantic-navi-bottom-on-fontWeight: 400,
  typography-semantic-navi-bottom-on-fontStyle: normal,
  typography-semantic-navi-bottom-on-fontStretch: normal,
  typography-semantic-navi-bottom-on-letterSpacing: 0,
  typography-semantic-navi-bottom-on-lineHeight: 14,
  typography-semantic-navi-bottom-on-paragraphIndent: 0,
  typography-semantic-navi-bottom-on-paragraphSpacing: 0,
  typography-semantic-navi-bottom-on-textCase: none,
  typography-semantic-navi-bottom-off-fontSize: 10,
  typography-semantic-navi-bottom-off-textDecoration: none,
  typography-semantic-navi-bottom-off-fontFamily: Sandoll GothicNeo1,
  typography-semantic-navi-bottom-off-fontWeight: 400,
  typography-semantic-navi-bottom-off-fontStyle: normal,
  typography-semantic-navi-bottom-off-fontStretch: normal,
  typography-semantic-navi-bottom-off-letterSpacing: 0,
  typography-semantic-navi-bottom-off-lineHeight: 14,
  typography-semantic-navi-bottom-off-paragraphIndent: 0,
  typography-semantic-navi-bottom-off-paragraphSpacing: 0,
  typography-semantic-navi-bottom-off-textCase: none,
  typography-semantic-controler-large-select-fontSize: 16,
  typography-semantic-controler-large-select-textDecoration: none,
  typography-semantic-controler-large-select-fontFamily: Sandoll GothicNeo1,
  typography-semantic-controler-large-select-fontWeight: 400,
  typography-semantic-controler-large-select-fontStyle: normal,
  typography-semantic-controler-large-select-fontStretch: normal,
  typography-semantic-controler-large-select-letterSpacing: 0,
  typography-semantic-controler-large-select-lineHeight: 24,
  typography-semantic-controler-large-select-paragraphIndent: 0,
  typography-semantic-controler-large-select-paragraphSpacing: 0,
  typography-semantic-controler-large-select-textCase: none,
  typography-semantic-controler-large-unselect-fontSize: 16,
  typography-semantic-controler-large-unselect-textDecoration: none,
  typography-semantic-controler-large-unselect-fontFamily: Sandoll GothicNeo1,
  typography-semantic-controler-large-unselect-fontWeight: 400,
  typography-semantic-controler-large-unselect-fontStyle: normal,
  typography-semantic-controler-large-unselect-fontStretch: normal,
  typography-semantic-controler-large-unselect-letterSpacing: 0,
  typography-semantic-controler-large-unselect-lineHeight: 24,
  typography-semantic-controler-large-unselect-paragraphIndent: 0,
  typography-semantic-controler-large-unselect-paragraphSpacing: 0,
  typography-semantic-controler-large-unselect-textCase: none,
  typography-semantic-controler-medium-select-fontSize: 14,
  typography-semantic-controler-medium-select-textDecoration: none,
  typography-semantic-controler-medium-select-fontFamily: Sandoll GothicNeo1,
  typography-semantic-controler-medium-select-fontWeight: 400,
  typography-semantic-controler-medium-select-fontStyle: normal,
  typography-semantic-controler-medium-select-fontStretch: normal,
  typography-semantic-controler-medium-select-letterSpacing: 0,
  typography-semantic-controler-medium-select-lineHeight: 20,
  typography-semantic-controler-medium-select-paragraphIndent: 0,
  typography-semantic-controler-medium-select-paragraphSpacing: 0,
  typography-semantic-controler-medium-select-textCase: none,
  typography-semantic-controler-medium-unselect-fontSize: 14,
  typography-semantic-controler-medium-unselect-textDecoration: none,
  typography-semantic-controler-medium-unselect-fontFamily: Sandoll GothicNeo1,
  typography-semantic-controler-medium-unselect-fontWeight: 400,
  typography-semantic-controler-medium-unselect-fontStyle: normal,
  typography-semantic-controler-medium-unselect-fontStretch: normal,
  typography-semantic-controler-medium-unselect-letterSpacing: 0,
  typography-semantic-controler-medium-unselect-lineHeight: 20,
  typography-semantic-controler-medium-unselect-paragraphIndent: 0,
  typography-semantic-controler-medium-unselect-paragraphSpacing: 0,
  typography-semantic-controler-medium-unselect-textCase: none,
  typography-semantic-controler-small-select-fontSize: 13,
  typography-semantic-controler-small-select-textDecoration: none,
  typography-semantic-controler-small-select-fontFamily: Sandoll GothicNeo1,
  typography-semantic-controler-small-select-fontWeight: 400,
  typography-semantic-controler-small-select-fontStyle: normal,
  typography-semantic-controler-small-select-fontStretch: normal,
  typography-semantic-controler-small-select-letterSpacing: 0,
  typography-semantic-controler-small-select-lineHeight: 18,
  typography-semantic-controler-small-select-paragraphIndent: 0,
  typography-semantic-controler-small-select-paragraphSpacing: 0,
  typography-semantic-controler-small-select-textCase: none,
  typography-semantic-controler-small-unselect-fontSize: 13,
  typography-semantic-controler-small-unselect-textDecoration: none,
  typography-semantic-controler-small-unselect-fontFamily: Sandoll GothicNeo1,
  typography-semantic-controler-small-unselect-fontWeight: 400,
  typography-semantic-controler-small-unselect-fontStyle: normal,
  typography-semantic-controler-small-unselect-fontStretch: normal,
  typography-semantic-controler-small-unselect-letterSpacing: 0,
  typography-semantic-controler-small-unselect-lineHeight: 18,
  typography-semantic-controler-small-unselect-paragraphIndent: 0,
  typography-semantic-controler-small-unselect-paragraphSpacing: 0,
  typography-semantic-controler-small-unselect-textCase: none,
  typography-semantic-controler-xsmall-select-fontSize: 12,
  typography-semantic-controler-xsmall-select-textDecoration: none,
  typography-semantic-controler-xsmall-select-fontFamily: Sandoll GothicNeo1,
  typography-semantic-controler-xsmall-select-fontWeight: 400,
  typography-semantic-controler-xsmall-select-fontStyle: normal,
  typography-semantic-controler-xsmall-select-fontStretch: normal,
  typography-semantic-controler-xsmall-select-letterSpacing: 0,
  typography-semantic-controler-xsmall-select-lineHeight: 16,
  typography-semantic-controler-xsmall-select-paragraphIndent: 0,
  typography-semantic-controler-xsmall-select-paragraphSpacing: 0,
  typography-semantic-controler-xsmall-select-textCase: none,
  typography-semantic-controler-xsmall-unselect-fontSize: 12,
  typography-semantic-controler-xsmall-unselect-textDecoration: none,
  typography-semantic-controler-xsmall-unselect-fontFamily: Sandoll GothicNeo1,
  typography-semantic-controler-xsmall-unselect-fontWeight: 400,
  typography-semantic-controler-xsmall-unselect-fontStyle: normal,
  typography-semantic-controler-xsmall-unselect-fontStretch: normal,
  typography-semantic-controler-xsmall-unselect-letterSpacing: 0,
  typography-semantic-controler-xsmall-unselect-lineHeight: 16,
  typography-semantic-controler-xsmall-unselect-paragraphIndent: 0,
  typography-semantic-controler-xsmall-unselect-paragraphSpacing: 0,
  typography-semantic-controler-xsmall-unselect-textCase: none,
  typography-semantic-badge-large-fontSize: 12,
  typography-semantic-badge-large-textDecoration: none,
  typography-semantic-badge-large-fontFamily: Sandoll GothicNeo1,
  typography-semantic-badge-large-fontWeight: 400,
  typography-semantic-badge-large-fontStyle: normal,
  typography-semantic-badge-large-fontStretch: normal,
  typography-semantic-badge-large-letterSpacing: 0,
  typography-semantic-badge-large-lineHeight: 16,
  typography-semantic-badge-large-paragraphIndent: 0,
  typography-semantic-badge-large-paragraphSpacing: 0,
  typography-semantic-badge-large-textCase: uppercase,
  typography-semantic-badge-medium-fontSize: 10,
  typography-semantic-badge-medium-textDecoration: none,
  typography-semantic-badge-medium-fontFamily: Sandoll GothicNeo1,
  typography-semantic-badge-medium-fontWeight: 400,
  typography-semantic-badge-medium-fontStyle: normal,
  typography-semantic-badge-medium-fontStretch: normal,
  typography-semantic-badge-medium-letterSpacing: 0,
  typography-semantic-badge-medium-lineHeight: 12,
  typography-semantic-badge-medium-paragraphIndent: 0,
  typography-semantic-badge-medium-paragraphSpacing: 0,
  typography-semantic-badge-medium-textCase: uppercase,
  typography-semantic-badge-small-fontSize: 8,
  typography-semantic-badge-small-textDecoration: none,
  typography-semantic-badge-small-fontFamily: Sandoll GothicNeo1,
  typography-semantic-badge-small-fontWeight: 400,
  typography-semantic-badge-small-fontStyle: normal,
  typography-semantic-badge-small-fontStretch: normal,
  typography-semantic-badge-small-letterSpacing: 0,
  typography-semantic-badge-small-lineHeight: 10,
  typography-semantic-badge-small-paragraphIndent: 0,
  typography-semantic-badge-small-paragraphSpacing: 0,
  typography-semantic-badge-small-textCase: uppercase,
  typography-semantic-list-label-medium-fontSize: 14,
  typography-semantic-list-label-medium-textDecoration: none,
  typography-semantic-list-label-medium-fontFamily: Sandoll GothicNeo1,
  typography-semantic-list-label-medium-fontWeight: 400,
  typography-semantic-list-label-medium-fontStyle: normal,
  typography-semantic-list-label-medium-fontStretch: normal,
  typography-semantic-list-label-medium-letterSpacing: 0,
  typography-semantic-list-label-medium-lineHeight: 20,
  typography-semantic-list-label-medium-paragraphIndent: 0,
  typography-semantic-list-label-medium-paragraphSpacing: 0,
  typography-semantic-list-label-medium-textCase: none,
  typography-semantic-list-label-small-fontSize: 13,
  typography-semantic-list-label-small-textDecoration: none,
  typography-semantic-list-label-small-fontFamily: Sandoll GothicNeo1,
  typography-semantic-list-label-small-fontWeight: 400,
  typography-semantic-list-label-small-fontStyle: normal,
  typography-semantic-list-label-small-fontStretch: normal,
  typography-semantic-list-label-small-letterSpacing: 0,
  typography-semantic-list-label-small-lineHeight: 18,
  typography-semantic-list-label-small-paragraphIndent: 0,
  typography-semantic-list-label-small-paragraphSpacing: 0,
  typography-semantic-list-label-small-textCase: none,
  typography-semantic-list-xlarge-fontSize: 18,
  typography-semantic-list-xlarge-textDecoration: none,
  typography-semantic-list-xlarge-fontFamily: Sandoll GothicNeo1,
  typography-semantic-list-xlarge-fontWeight: 400,
  typography-semantic-list-xlarge-fontStyle: normal,
  typography-semantic-list-xlarge-fontStretch: normal,
  typography-semantic-list-xlarge-letterSpacing: 0,
  typography-semantic-list-xlarge-lineHeight: 28,
  typography-semantic-list-xlarge-paragraphIndent: 0,
  typography-semantic-list-xlarge-paragraphSpacing: 0,
  typography-semantic-list-xlarge-textCase: none,
  typography-semantic-list-large-bold-fontSize: 16,
  typography-semantic-list-large-bold-textDecoration: none,
  typography-semantic-list-large-bold-fontFamily: Sandoll GothicNeo1,
  typography-semantic-list-large-bold-fontWeight: 400,
  typography-semantic-list-large-bold-fontStyle: normal,
  typography-semantic-list-large-bold-fontStretch: normal,
  typography-semantic-list-large-bold-letterSpacing: 0,
  typography-semantic-list-large-bold-lineHeight: 24,
  typography-semantic-list-large-bold-paragraphIndent: 0,
  typography-semantic-list-large-bold-paragraphSpacing: 0,
  typography-semantic-list-large-bold-textCase: none,
  typography-semantic-list-large-fontSize: 16,
  typography-semantic-list-large-textDecoration: none,
  typography-semantic-list-large-fontFamily: Sandoll GothicNeo1,
  typography-semantic-list-large-fontWeight: 400,
  typography-semantic-list-large-fontStyle: normal,
  typography-semantic-list-large-fontStretch: normal,
  typography-semantic-list-large-letterSpacing: 0,
  typography-semantic-list-large-lineHeight: 24,
  typography-semantic-list-large-paragraphIndent: 0,
  typography-semantic-list-large-paragraphSpacing: 0,
  typography-semantic-list-large-textCase: none,
  typography-semantic-list-medium-bold-fontSize: 14,
  typography-semantic-list-medium-bold-textDecoration: none,
  typography-semantic-list-medium-bold-fontFamily: Sandoll GothicNeo1,
  typography-semantic-list-medium-bold-fontWeight: 400,
  typography-semantic-list-medium-bold-fontStyle: normal,
  typography-semantic-list-medium-bold-fontStretch: normal,
  typography-semantic-list-medium-bold-letterSpacing: 0,
  typography-semantic-list-medium-bold-lineHeight: 20,
  typography-semantic-list-medium-bold-paragraphIndent: 0,
  typography-semantic-list-medium-bold-paragraphSpacing: 0,
  typography-semantic-list-medium-bold-textCase: none,
  typography-semantic-list-medium-fontSize: 14,
  typography-semantic-list-medium-textDecoration: none,
  typography-semantic-list-medium-fontFamily: Sandoll GothicNeo1,
  typography-semantic-list-medium-fontWeight: 400,
  typography-semantic-list-medium-fontStyle: normal,
  typography-semantic-list-medium-fontStretch: normal,
  typography-semantic-list-medium-letterSpacing: 0,
  typography-semantic-list-medium-lineHeight: 20,
  typography-semantic-list-medium-paragraphIndent: 0,
  typography-semantic-list-medium-paragraphSpacing: 0,
  typography-semantic-list-medium-textCase: none,
  typography-semantic-list-medium-light-fontSize: 14,
  typography-semantic-list-medium-light-textDecoration: none,
  typography-semantic-list-medium-light-fontFamily: Sandoll GothicNeo1,
  typography-semantic-list-medium-light-fontWeight: 400,
  typography-semantic-list-medium-light-fontStyle: normal,
  typography-semantic-list-medium-light-fontStretch: normal,
  typography-semantic-list-medium-light-letterSpacing: 0,
  typography-semantic-list-medium-light-lineHeight: 20,
  typography-semantic-list-medium-light-paragraphIndent: 0,
  typography-semantic-list-medium-light-paragraphSpacing: 0,
  typography-semantic-list-medium-light-textCase: none,
  typography-semantic-list-small-bold-fontSize: 13,
  typography-semantic-list-small-bold-textDecoration: none,
  typography-semantic-list-small-bold-fontFamily: Sandoll GothicNeo1,
  typography-semantic-list-small-bold-fontWeight: 400,
  typography-semantic-list-small-bold-fontStyle: normal,
  typography-semantic-list-small-bold-fontStretch: normal,
  typography-semantic-list-small-bold-letterSpacing: 0,
  typography-semantic-list-small-bold-lineHeight: 18,
  typography-semantic-list-small-bold-paragraphIndent: 0,
  typography-semantic-list-small-bold-paragraphSpacing: 0,
  typography-semantic-list-small-bold-textCase: none,
  typography-semantic-list-small-fontSize: 13,
  typography-semantic-list-small-textDecoration: none,
  typography-semantic-list-small-fontFamily: Sandoll GothicNeo1,
  typography-semantic-list-small-fontWeight: 400,
  typography-semantic-list-small-fontStyle: normal,
  typography-semantic-list-small-fontStretch: normal,
  typography-semantic-list-small-letterSpacing: 0,
  typography-semantic-list-small-lineHeight: 18,
  typography-semantic-list-small-paragraphIndent: 0,
  typography-semantic-list-small-paragraphSpacing: 0,
  typography-semantic-list-small-textCase: none,
  typography-semantic-list-small-light-fontSize: 13,
  typography-semantic-list-small-light-textDecoration: none,
  typography-semantic-list-small-light-fontFamily: Sandoll GothicNeo1,
  typography-semantic-list-small-light-fontWeight: 400,
  typography-semantic-list-small-light-fontStyle: normal,
  typography-semantic-list-small-light-fontStretch: normal,
  typography-semantic-list-small-light-letterSpacing: 0,
  typography-semantic-list-small-light-lineHeight: 18,
  typography-semantic-list-small-light-paragraphIndent: 0,
  typography-semantic-list-small-light-paragraphSpacing: 0,
  typography-semantic-list-small-light-textCase: none,
  typography-semantic-list-xsmall-light-fontSize: 12,
  typography-semantic-list-xsmall-light-textDecoration: none,
  typography-semantic-list-xsmall-light-fontFamily: Sandoll GothicNeo1,
  typography-semantic-list-xsmall-light-fontWeight: 400,
  typography-semantic-list-xsmall-light-fontStyle: normal,
  typography-semantic-list-xsmall-light-fontStretch: normal,
  typography-semantic-list-xsmall-light-letterSpacing: 0,
  typography-semantic-list-xsmall-light-lineHeight: 16,
  typography-semantic-list-xsmall-light-paragraphIndent: 0,
  typography-semantic-list-xsmall-light-paragraphSpacing: 0,
  typography-semantic-list-xsmall-light-textCase: none,
  typography-semantic-number-10-fontSize: 10,
  typography-semantic-number-10-textDecoration: none,
  typography-semantic-number-10-fontFamily: Sandoll GothicNeo1,
  typography-semantic-number-10-fontWeight: 400,
  typography-semantic-number-10-fontStyle: normal,
  typography-semantic-number-10-fontStretch: normal,
  typography-semantic-number-10-letterSpacing: 0,
  typography-semantic-number-10-lineHeight: 14,
  typography-semantic-number-10-paragraphIndent: 0,
  typography-semantic-number-10-paragraphSpacing: 0,
  typography-semantic-number-10-textCase: none,
  typography-semantic-number-20-fontSize: 20,
  typography-semantic-number-20-textDecoration: none,
  typography-semantic-number-20-fontFamily: Sandoll GothicNeo1,
  typography-semantic-number-20-fontWeight: 400,
  typography-semantic-number-20-fontStyle: normal,
  typography-semantic-number-20-fontStretch: normal,
  typography-semantic-number-20-letterSpacing: 0,
  typography-semantic-number-20-lineHeight: 28,
  typography-semantic-number-20-paragraphIndent: 0,
  typography-semantic-number-20-paragraphSpacing: 0,
  typography-semantic-number-20-textCase: none,
  typography-semantic-number-24-fontSize: 24,
  typography-semantic-number-24-textDecoration: none,
  typography-semantic-number-24-fontFamily: Sandoll GothicNeo1,
  typography-semantic-number-24-fontWeight: 400,
  typography-semantic-number-24-fontStyle: normal,
  typography-semantic-number-24-fontStretch: normal,
  typography-semantic-number-24-letterSpacing: 0,
  typography-semantic-number-24-lineHeight: 32,
  typography-semantic-number-24-paragraphIndent: 0,
  typography-semantic-number-24-paragraphSpacing: 0,
  typography-semantic-number-24-textCase: none,
  typography-semantic-number-30-fontSize: 30,
  typography-semantic-number-30-textDecoration: none,
  typography-semantic-number-30-fontFamily: Sandoll GothicNeo1,
  typography-semantic-number-30-fontWeight: 400,
  typography-semantic-number-30-fontStyle: normal,
  typography-semantic-number-30-fontStretch: normal,
  typography-semantic-number-30-letterSpacing: 0,
  typography-semantic-number-30-lineHeight: 38,
  typography-semantic-number-30-paragraphIndent: 0,
  typography-semantic-number-30-paragraphSpacing: 0,
  typography-semantic-number-30-textCase: none,
  typography-semantic-number-36-fontSize: 36,
  typography-semantic-number-36-textDecoration: none,
  typography-semantic-number-36-fontFamily: Sandoll GothicNeo1,
  typography-semantic-number-36-fontWeight: 400,
  typography-semantic-number-36-fontStyle: normal,
  typography-semantic-number-36-fontStretch: normal,
  typography-semantic-number-36-letterSpacing: 0,
  typography-semantic-number-36-lineHeight: 44,
  typography-semantic-number-36-paragraphIndent: 0,
  typography-semantic-number-36-paragraphSpacing: 0,
  typography-semantic-number-36-textCase: none,
)!default;