$base: (
  light: (
    light-primary-5: #1f0f01ff,
    light-primary-10: #371b04ff,
    light-primary-20: #522907ff,
  ),
  dark: (
    dark-primary-5: #1f0f01ff,
    dark-primary-10: #371b04ff,
    dark-primary-20: #522907ff,
  ),
)!default;

$test: (
  light2: (
    light2-primary-5: #1f0f01ff,
  ),
  dark2: (
    dark2-primary-5: #1f0f01ff,
  ),
)!default;