
@charset "utf-8";


//prefix
$prefix: krds- !default;

//transition
$transition-base: .4s ease-in-out !default;
$transition-fade: opacity .4s linear !default;
$transition-collapse: max-height .4s ease !default;
$transition-collapse-width: width .4s ease !default;

//box shadow
$box-shadow-base: 2px 2px 2px 0px rgba(0, 0, 0, 0.15) !default;


//Deepbule
$Deepbule: (
  light-color-secondary-5: #041322ff,
  dark-color-secondary-5: #041322ff,
)!default;

//bg
$bg: (
  light-color-stock-red-bright: #fff8f8ff,
  dark-color-stock-red-bright: #211111ff,
)!default;