<div class="form-chip">
	<input type="radio" class="radio" name="rdo_chip_size" id="rdo_chip_lg">
	<label class="form-chip-outline" for="rdo_chip_lg">chip size : lg</label>
</div>
<div class="form-chip md">
	<input type="radio" class="radio" name="rdo_chip_size" id="rdo_chip_md">
	<label class="form-chip-outline" for="rdo_chip_md">chip size : md</label>
</div>
<div class="form-chip sm">
	<input type="radio" class="radio" name="rdo_chip_size" id="rdo_chip_sm">
	<label class="form-chip-outline" for="rdo_chip_sm">chip size :sm</label>
</div>