<button type="button" class="btn sm btn-txt">텍스트 버튼</button>
<button type="button" class="btn sm btn-txt underline">밑줄 버튼</button>
<a href="#" class="btn sm btn-txt link">텍스트 사이의 링크 (높이값 초기화)</a>
<button type="button" class="btn sm btn-txt ico-share">공유하기</button>
<button type="button" class="btn sm btn-txt ico-like">찜하기</button>
<button type="button" class="btn sm btn-txt ico-arr">주민등록표초본</button>
<button type="button" class="btn sm btn-txt ico-sch">검색</button>
<button type="button" class="btn sm btn-txt ico-go">바로가기</button>
<button type="button" class="btn sm btn-txt ico-more">자세히 보기</button>
<button type="button" class="btn sm btn-txt ico-down">파일다운로드</button>
<button type="button" class="btn sm btn-txt ico-filter">필터</button>