<div class="chk-area">
	<div class="form-check">
		<input type="radio" name="rdo_1" id="rdo_1">
		<label for="rdo_1">기본</label>
	</div>
	<div class="form-check">
		<input type="radio" name="rdo_1" id="rdo_2" checked>
		<label for="rdo_2">선택됨</label>
	</div>
	<div class="form-check">
		<input type="radio" name="rdo_1" id="rdo_3" disabled>
		<label for="rdo_3">비활성화</label>
	</div>
	<div class="form-check">
		<input type="radio" name="rdo_1a" id="rdo_4" disabled checked>
		<label for="rdo_4">선택된 비활성화</label>
	</div>
</div>