<div class="chk-group-area">
	<ul class="chk-group-wrap">
		<li class="disabled">
			<div class="form-group chk-area chk-column">
				<div class="form-check">
					<input type="radio" name="save_id" id="chk_01" disabled="">
					<label for="chk_01">
						비활성화
					</label>
				</div>
			</div>
		</li>
		<li class="checked">
			<div class="form-group chk-area chk-column">
				<div class="form-check">
					<input type="radio" name="save_id" id="chk_02" checked="">
					<label for="chk_02">
						선택됨
					</label>
				</div>
			</div>
		</li>
		<li>
			<div class="form-group chk-area chk-column">
				<div class="form-check">
					<input type="radio" name="save_id" id="chk_03">
					<label for="chk_03">
						기본
					</label>
				</div>
			</div>
		</li>
	</ul>
</div>