<div class="form-chip">
	<input type="checkbox" class="checkbox" id="chk_chip_lg_1">
	<label class="form-chip-outline" for="chk_chip_lg_1">chip size : lg</label>
</div>
<div class="form-chip md">
	<input type="checkbox" class="checkbox" id="chk_chip_md_1">
	<label class="form-chip-outline" for="chk_chip_md_1">chip size : md</label>
</div>
<div class="form-chip sm">
	<input type="checkbox" class="checkbox" id="chk_chip_sm_1">
	<label class="form-chip-outline" for="chk_chip_sm_1">chip size : sm</label>
</div>