@charset "utf-8";

// 색상 키 color만
$colors: map-keys($btns);

/* btns */
.btns {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
	padding: 20px;
}
.btn {
	padding: 12px;
	height: 40px;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;

	// 값으로
	// @each $key, $value in $colors {
  //   $className: str-slice($key, 13); 
  //   &.#{$className} {
  //     background-color: $value;
	// 		background-color: #{map-get($semantic, $key)};
  //   }
  // }

	@each $key in $colors {
		$className: remove-prefix($key, "color-button-");
		&.#{$className} {
			color: #fff;
			background-color: var(--#{$prefix}#{$key}); 
		}
	}
}