// shadow-key 맵 예제 데이터
$shadow-key-umbra: (
  0: 0px 0px 0px 0px rgba(0, 0, 0, 0.2),
  1: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
  2: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
  3: 0px 24px 38px 3px rgba(0, 0, 0, 0.2)
);

$shadow-key-penumbra: (
  0: 0px 0px 0px 0px rgba(0, 0, 0, 0.14),
  1: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
  2: 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
  3: 0px 9px 46px 8px rgba(0, 0, 0, 0.14)
);

$shadow-key-ambient: (
  0: 0px 0px 0px 0px rgba(0, 0, 0, 0.12),
  1: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
  2: 0px 1px 5px 0px rgba(0, 0, 0, 0.12),
  3: 0px 11px 15px -7px rgba(0, 0, 0, 0.12)
);

@mixin elevation($z, $important: false) {
  $umbra: map-get($shadow-key-umbra, $z);
  $penumbra: map-get($shadow-key-penumbra, $z);
  $ambient: map-get($shadow-key-ambient, $z);
  @if $important {
    box-shadow: $umbra, $penumbra, $ambient !important;
  } @else {
    box-shadow: $umbra, $penumbra, $ambient;
  }
}

$z: 3;
@while $z >= 0 {
  .elevation-#{$z} {
    @include elevation($z, $important: true);
  }
  $z: $z - 1;
}