@import '../component/include';

/* **** Layout  **** */
#wrap {
    @include flex-layout($fd: column, $ai: normal);
    min-height: 100%;
    &[class ^= scroll] {
        #header {
            position: relative;
            border-bottom: .1rem solid var(--#{$prefix}gray-30);
            .header-in {
                position: fixed;
                top:0;
                left:0;
                z-index: 100;
                width: 100%;
                border-bottom: .1rem solid var(--#{$prefix}gray-30);
                background-color: var(--#{$prefix}white);
                transition: transform ease .4s .01s;
            }
        }
    }
    &.scroll-down {
        #header {
            .header-in {
                transform: translateY(-100%);
            }
        }
    }
    &.scroll-up{
        #header {
            .header-in {
                transform: translateY(0);
            }
        }
    }
}

.inner {
    width: 100%;
    max-width: 132.8rem;
    &.page-step {
		position: relative;
	}
}

/* util dropdown */
.krds-drop-wrap {
    display: inline-flex;
    position: relative;
    .drop-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 50%;
        z-index: 6;
        min-width: 13rem;
        padding: var(--#{$prefix}spacer-2);
        margin-top: var(--#{$prefix}spacer-4);
        border-radius: var(--#{$prefix}rd-8);
        border: .1rem solid var(--#{$prefix}gray-30);
        background-color: var(--#{$prefix}white);
        box-shadow: 0 .4rem 1.2rem 0 rgba(0, 0, 0, 0.12);
        transform: translateX(-50%);
        &::before {
            display: inline-flex;
            content:'';
            position: absolute;
            left: 50%;
            bottom: 100%;
            width: 2rem;
            height: 1.2rem;
            background-image: url(#{$url}/pattern/common/ico_drop_arr.svg);
            transform: translateX(-50%);
        }
        .drop-in {
            @include flex-layout($fd: column, $ai: flex-start);
            gap: var(--#{$prefix}spacer-2);
        }
        .drop-top-info {
            width: 100%;
            padding: var(--#{$prefix}spacer-4) var(--#{$prefix}spacer-4) .6rem;
            border-bottom: .1rem solid var(--#{$prefix}gray-30);
        }
        .drop-btm-btn { 
            @include flex-layout($jc: center);
            width: 100%;
            padding: var(--#{$prefix}spacer-2) var(--#{$prefix}spacer-4) 0;
            border-top: .1rem solid var(--#{$prefix}gray-30);
            .btn {
                flex: 1;
            }
        }
        .drop-list {
            width: 100%;
            .item-link {
                @include flex-layout($jc: flex-start, $ai: center);
                gap: var(--#{$prefix}spacer-2);
                font-size: var(--#{$prefix}fz-label-md);
                height: 4.8rem;
                padding: 0 var(--#{$prefix}spacer-2);
                border-radius: var(--#{$prefix}rd-6);
                &.ico-go {
                    &::after {
                        display: inline-flex;
                        content: "";
                        width: 1.6rem;
                        height: 1.6rem;
                        background-image: url(#{$url}/component/common/ico_go_20.svg);
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                }
                &:hover {
                    background-color: var(--#{$prefix}secondary-5);
                }
                &:active {  
                    background-color: var(--#{$prefix}secondary-10);
                }
            }
        }
    }

    //화면 크기 드랍메뉴
    &.zoom-drop {
        .drop-menu {
            width: 15rem;
        }
        .item-link {
            &::before {
                @include flex-layout($d: inline-flex, $jc: center, $ai: center);
                flex-shrink: 0;
                content: '가';
                font-size: var(--#{$prefix}fz-body-md);
                line-height: 1;
                width: 2.5rem;
                height: 2.5rem;
                padding: 0 var(--#{$prefix}spacer-1);
                border-radius: var(--#{$prefix}rd-4);
                border: .1rem solid var(--#{$prefix}gray-30);
                background-color: var(--#{$prefix}white);
            }
            &.active {
                font-weight: map-get($fws, bold);
                color: var(--#{$prefix}secondary);
                background-color: var(--#{$prefix}secondary-5);
                &::before {
                    color:var(--#{$prefix}white);
                    background-color: var(--#{$prefix}secondary);
                }
            }
            &.xsm {
                &::before {
                    font-size: var(--#{$prefix}fz-body-sm);
                    width: 2.1rem;
                    height: 2.1rem;
                }
            }
            &.sm {
                &::before {
                    font-size: var(--#{$prefix}fz-body-md);
                    width: 2.4rem;
                    height: 2.4rem;
                }
            }
            &.md {
                &::before {
                    font-size: var(--#{$prefix}fz-body-lg);
                    width: 2.5rem;
                    height: 2.5rem;
                }
            }
            &.lg {
                &::before {
                    font-size: 2.1rem; //예외 케이스로 적용
                    width: 2.7rem;
                    height: 2.7rem;
                }
            }
            &.xlg {
                &::before {
                    font-size: 2.5rem; //예외 케이스로 적용
                    width: 3rem;
                    height: 3rem;
                }
            }
        }
    }

    //my Gov
    &.my-drop {
        .drop-menu {
            width: 21rem;
        }
        .my-name {
            font-size: var(--#{$prefix}fz-body-lg);
            font-weight: map-get($fws, bold);
            line-height: 1.1;
            margin-bottom: var(--#{$prefix}spacer-4);
        }
        .my-time {
            dt {
                font-size: var(--#{$prefix}fz-body-sm);
                color: var(--#{$prefix}gray-70);
            }
            dd {
                @include flex-layout($jc: space-between, $ai: center);
                gap: var(--#{$prefix}spacer-2);
            }
            .time {
                @include flex-layout($d:inline-flex, $ai: center);
                gap: var(--#{$prefix}spacer-default2);
                font-size: var(--#{$prefix}fz-body-sm);
                color: var(--#{$prefix}primary-60);
                &::before {
                    display: inline-flex;
                    content: '';
                    width: 1.6rem;
                    height: 1.6rem;
                    background: url(#{$url}/pattern/common/ico_time_16.svg) center;
                    background-size: contain;
                }
            }
        }
    }
}


/* container */
#container {
    flex:1;
    > .inner {
        min-height: 60rem;
    }
    .in-between {
        @include flex-layout($ai: normal);
        padding: 0 !important;
        gap: var(--#{$prefix}spacer-20);
        .#{$prefix}lnb {
            width:29.6rem;
            padding: var(--#{$prefix}spacer-10) var(--#{$prefix}spacer-10) 0 0;
            border-right: .1rem solid var(--#{$prefix}gray-40);
        }
        .contents {
            flex: 1;
            padding-bottom: var(--#{$prefix}spacer-20);
            .breadcrumb-wrap {
                padding: var(--#{$prefix}spacer-10) 0 var(--#{$prefix}spacer-20);
                .breadcrumb {
                    padding: 0;
                }
            }
        }
    }
    // .left-menu {
    //     position: relative;
    //     overflow: hidden;
    //     .lnb-tit {
    //         font-size: var(--#{$prefix}fz-title-lg);
    //         font-weight: map-get($fws, bold);
    //         height: 5.4rem;
    //         padding: 0px var(--#{$prefix}spacer-2) var(--#{$prefix}spacer-6) var(--#{$prefix}spacer-2);
    //         border-bottom: .1rem solid var(--#{$prefix}gray-50);
    //     }
    //     .lnb-list {
    //         border-bottom: 0.1rem solid var(--#{$prefix}gray-40);
    //         .li {
    //             padding: 0;
    //             &.active {
    //                 .acco-head {
    //                     .tit {
    //                         color: var(-krds-secondary-50);
    //                     }
    //                     .acco-btn::after {
    //                         background: url(../../img/component/common/ico_arr_20_down_blue.svg) no-repeat center;
    //                     }
    //                 }
    //             }
    //         }
    //         .acco-head {
    //             height: 6.4rem;
    //             padding: 0px var(--#{$prefix}spacer-2);
    //             &:hover {
    //                 background-color: var(--#{$prefix}secondary-5);
    //             }
    //             &:active {
    //                 background-color: var(--#{$prefix}secondary-30);
    //             }
    //             .tit {
    //                 font-size: var(--#{$prefix}fz-body-md);
    //             }
    //             .acco-btn {
    //                 &:focus {
    //                     @include focus($color: $primary);
    //                 }
    //                 &:hover {
    //                     background-color: transparent;
    //                 }
    //             }
    //         }
    //         .acco-body {
    //             .acco-in {
    //                 padding: 0;
    //             }
    //         }
    //         .sub-ul {
    //             padding: var(--#{$prefix}spacer-4) 0;
    //             margin: 0;
    //             border-top: .3rem solid var(--#{$prefix}secondary-40);
    //             .subm {
    //                 @include flex-layout($ai:center);
    //                 position: relative;
    //                 width: 100%;
    //                 height: 4.8rem;
    //                 padding: var(--#{$prefix}spacer-3) var(--#{$prefix}spacer-4) var(--#{$prefix}spacer-3) var(--#{$prefix}spacer-8);
    //                 border-radius: .8rem;
    //                 &::before {
    //                     position: absolute;
    //                     left: 1.6rem;
    //                     content:'•';
    //                 }
    //                 &:hover {
    //                     background-color: var(--#{$prefix}secondary-5);
    //                 }
    //                 &:active {
    //                     background-color: var(--#{$prefix}secondary-30);
    //                 }
    //                 &.is-depth4 {
    //                     gap: var(--#{$prefix}spacer-1);
    //                     &::after {
    //                         display: inline-flex;
    //                         content:'';
    //                         width: 2.4rem;
    //                         height: 2.4rem;
    //                         margin-left: auto;
    //                         background: url(../../img/component/common/ico_arr_16_down.svg) no-repeat center;
    //                         background-size: contain;
    //                     }
    //                 }
    //             }
    //         }
    //     }
    //     .depth4-wrap {
    //         display: none;
    //         position: absolute;
    //         top: 0;
    //         left: -100%;
    //         z-index: 10;
    //         width: 100%;
    //         height: 100%;
    //         padding-top: var(--#{$prefix}spacer-10);
    //         background-color:var(--#{$prefix}white);
    //         transition: $transition-base;
    //         .depth4-tit {
    //             @include flex-layout($fd: column, $jc:space-between, $ai:normal);
    //             font-weight: map-get($fws, bold);
    //             width: 100%;
    //             height: 7.6rem;
    //             padding: var(--#{$prefix}spacer-2) var(--#{$prefix}spacer-4) !important;
    //             margin-bottom: var(--#{$prefix}spacer-2);
    //             text-align: left;
    //             border-radius: .8rem;
    //             &::before {
    //                 display: inline-flex;
    //                 content: '';
    //                 width: 2.4rem;
    //                 height: 2.4rem;
    //                 background-image: url(../../img/pattern/layout/lnb_ico_prev.svg);
    //                 background-repeat: no-repeat;
    //                 background-size: contain;
    //             }
    //             &:hover {
    //                 background-color: var(--#{$prefix}secondary-5);
    //             }
    //         }
    //         .depth4-ul {
    //             @include flex-layout($fd: column, $ai:normal);
    //             padding: var(--#{$prefix}spacer-4) 0;
    //             border-top: .1rem solid var(--#{$prefix}gray-30);
    //             border-bottom: .1rem solid var(--#{$prefix}gray-30);
    //             a {
    //                 @include flex-layout($ai:center);
    //                 position: relative;
    //                 width: 100%;
    //                 height: 4.8rem;
    //                 padding: var(--#{$prefix}spacer-3) var(--#{$prefix}spacer-4) var(--#{$prefix}spacer-3) var(--#{$prefix}spacer-8);
    //                 border-radius: .8rem;
    //                 &::before {
    //                     position: absolute;
    //                     left: 1.6rem;
    //                     content:'•';
    //                 }
    //                 &:hover {
    //                     background-color: var(--#{$prefix}secondary-5);
    //                 }
    //                 &:active {
    //                     background-color: var(--#{$prefix}secondary-30);
    //                 }
    //                 &.is-depth4 {
    //                     gap: var(--#{$prefix}spacer-1);
    //                     &::after {
    //                         display: inline-flex;
    //                         content:'';
    //                         width: 2.4rem;
    //                         height: 2.4rem;
    //                         margin-left: auto;
    //                         background: url(../../img/component/common/ico_arr_16_down.svg) no-repeat center;
    //                         background-size: contain;
    //                     }
    //                 }
    //             }
    //         }
    //         &.is-open {
    //             display: block;
    //             left: 0;
    //         }
    //     }
    // }
}



//web 전용 속성
@include tabletMore {
    .is-w-gnb {
        overflow: hidden;
        #wrap {
            &.scroll-down {
                #header {
                    .header-in {
                        transform: translateY(0);
                    }
                }
            }
        }
        &.hasScrollY {
            #header-top,
            #header .head-body,
            #container,
            #footer {
                padding-right: 1.7rem;
            }
            #footer .foot-quick {
                padding-right: 1.7rem;
                margin-right: -1.7rem;
            }
        }
    }

    .inner {
        padding-left: var(--#{$prefix}spacer-6);
        padding-right: var(--#{$prefix}spacer-6);
        margin: 0 auto;
        &.narrow { //좁은 레이아웃
            padding-left: var(--#{$prefix}spacer-30);
            padding-right: var(--#{$prefix}spacer-30);
        }
    }

    #container {
        > .inner {
            padding: var(--#{$prefix}spacer-20) var(--#{$prefix}spacer-6);
        }
    }
}


//태블릿 전용 속성
@include tablet {    
    /* footer */
    #footer { 
        .foot-quick {
            .inner {
                .link {
                    font-size: 1.6rem;
                    line-height: 1.2;
                    word-break: break-all;
                    padding: 0 var(--#{$prefix}spacer-2) 0 var(--#{$prefix}spacer-4);
                    text-align: left;
                }
            }
        }
        .f-cnt {
            .f-info {
                flex: 3;
                gap: var(--#{$prefix}spacer-7);
                .info-cs {
                    gap: var(--#{$prefix}spacer-6);
                    li {
                        flex-direction: column;
                        align-items: flex-start;
                    }
                }
            }
        }
    }

}

//태블릿 & 모바일 전용 속성
@include tabletLess {
    .inner {
        padding-left: var(--#{$prefix}spacer-4);
        padding-right: var(--#{$prefix}spacer-4);
    }
   
    /* container */
    #container {
        > .inner {
            padding-top: var(--#{$prefix}spacer-16);
            padding-bottom: var(--#{$prefix}spacer-16);
        }
        .in-between {
            .#{$prefix}lnb {
                display: none;
            }
            .contents {
                padding-left: var(--#{$prefix}spacer-4);
                padding-right: var(--#{$prefix}spacer-4);
            }
        }
    }
}

//모바일 전용
@include mobile {   
    /* container */
    #container {
        > .inner {
            min-height: 50rem;
        }
        .in-between {
            .contents {
                padding: 0 var(--#{$prefix}spacer-4) var(--#{$prefix}spacer-10);
                .breadcrumb-wrap {
                    padding: var(--#{$prefix}spacer-6) 0 var(--#{$prefix}spacer-10);
                }
            }
        }
    }
}

/* 도움패널 레이아웃 2 */
@media (min-width: $breakpoint-md) and (max-width: 1900px) {
    #container {
        /*.breadcrumb-wrap {
            padding-left: 1.6rem;
            padding-right: 1.6rem;
        }*/
        &.help-open {
            padding-right: 43.5rem;
            .breadcrumb-wrap {
                justify-content: flex-start;
                padding-left:0;
                padding-right:0;
                .breadcrumb {
                    padding: 0;
                }
            }
            .inner {
                &.flexible { 
                    padding-left:0;
                    padding-right:0;
                }
            }
        }
        &.help-close {
            padding-right: 0rem;
            .breadcrumb-wrap {
                
                .breadcrumb {
                    padding: 0;
                }
            }
            .inner {
                &.flexible {
                    margin: 0 auto;
                }
            }
        }
        .inner {
            &.flexible {
                width: 100%;
                max-width: 1060px;
                margin-left: auto;
                margin-right: auto;
                transition: $transition-base;
                &.folded {
                    padding-left: 1.6rem;
                    padding-right: 1.6rem;
                }
            }
            &.folded {
                padding-right: 12rem;
            }
        }
    }
}